Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

Adressing tutorial comments
  model/src/ModelCommandAPI_TEST.cc
  model/src/cmd/ModelCommandAPI.cc
  tutorials/model_command.md
Owners: @chapulina

Set IGN_CONFIG_PATH for testing.
  model/src/CMakeLists.txt
Owners: @chapulina

Style changes
  src/gui/plugins/scene3d/Scene3D.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

Model command structure update
  CMakeLists.txt
  model/src/CMakeLists.txt
  model/src/cmd/CMakeLists.txt
  src/CMakeLists.txt
  src/ModelCommandAPI_TEST.cc
  src/cmd/CMakeLists.txt
  src/cmd/ModelCommandAPI.cc
  src/cmd/ModelCommandAPI.hh
  src/cmd/cmdmodel.rb.in
  src/cmd/ignmodel.yaml.in
Owners: @chapulina

fix textures for blender export script
  examples/scripts/blender/sdf_exporter.py
Owners: @chapulina

remove .material files and references
  test/worlds/models/building_L1/meshes/model.material
  test/worlds/models/building_L1/model.sdf
Owners: @chapulina

Begin test fixture
  examples/standalone/custom_server/CMakeLists.txt
  examples/standalone/gtest_setup/CMakeLists.txt
  examples/standalone/gtest_setup/README.md
  examples/standalone/gtest_setup/gravity.sdf
  examples/standalone/gtest_setup/gravity_TEST.cc
  include/ignition/gazebo/Server.hh
  include/ignition/gazebo/TestFixture.hh
  src/CMakeLists.txt
  src/Server.cc
  src/SimulationRunner.cc
  src/SimulationRunner.hh
  src/TestFixture.cc
Owners: @chapulina

gimbal plugin files added
  examples/worlds/gimbal.sdf
  src/systems/CMakeLists.txt
  src/systems/gimbal_controller/CMakeLists.txt
  src/systems/gimbal_controller/GimbalControllerPlugin.cc
  src/systems/gimbal_controller/GimbalControllerPlugin.hh
  test/integration/gimbal_controller_plugin.cc
  test/worlds/gimbal_test.sdf
Owners: @chapulina

Fix blender sdf export script and remove .material file from collada light export test (#923)
  examples/scripts/blender/sdf_exporter.py
  test/worlds/models/building_L1/meshes/model.material
  test/worlds/models/building_L1/model.sdf
Owners: @chapulina

some cleanup
  examples/standalone/gtest_setup/README.md
  examples/standalone/gtest_setup/gravity.sdf
  examples/standalone/gtest_setup/gravity_TEST.cc
  include/ignition/gazebo/Server.hh
  include/ignition/gazebo/Util.hh
  src/Server.cc
  src/SimulationRunner.cc
  src/SimulationRunner.hh
  src/TestFixture.cc
  src/Util.cc
  src/Util_TEST.cc
Owners: @chapulina

drag and drop mesh
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Place a component's removed flag in the ECM, not in the component itself
  include/ignition/gazebo/components/Component.hh
  include/ignition/gazebo/detail/EntityComponentManager.hh
  src/EntityComponentManager.cc
Owners: @chapulina

Add missing includes
  include/ignition/gazebo/TestFixture.hh
Owners: @chapulina

Added feedback
  include/ignition/gazebo/Server.hh
  include/ignition/gazebo/components/SameProcess.hh
  include/ignition/gazebo/gui/Gui.hh
  include/ignition/gazebo/gui/GuiSystem.hh
  src/Server.cc
  src/SimulationRunner.cc
  src/gui/GuiRunner.cc
  src/gui/GuiRunner.hh
  src/gui/gui.config
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

make linters happy
  include/ignition/gazebo/gui/Gui.hh
  include/ignition/gazebo/gui/GuiSystem.hh
  src/gui/GuiRunner.hh
Owners: @chapulina

Make Gazebo aware of SetCameraPassCountPerGpuFlush (#921)
  src/gui/plugins/scene3d/Scene3D.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

Addressing PR comments
  src/ModelCommandAPI_TEST.cc
  src/cmd/ModelCommandAPI.cc
  src/cmd/ModelCommandAPI.hh
  src/cmd/cmdmodel.rb.in
  tutorials/model_command.md
Owners: @chapulina

Logic tweaks
  src/cmd/ModelCommandAPI.cc
  src/cmd/ModelCommandAPI.hh
  src/cmd/cmdmodel.rb.in
  src/cmd/ignmodel.yaml.in
  tutorials.md.in
  tutorials/model_command.md
Owners: @chapulina

No need for another component
  src/CMakeLists.txt
  src/cmd/CMakeLists.txt
  src/cmd/cmdmodel.rb.in
Owners: @chapulina

don't create components for entities that don't exist
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
  src/systems/diff_drive/DiffDrive.cc
Owners: @chapulina

Don't create components for entities that don't exist (#927)
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
  src/systems/diff_drive/DiffDrive.cc
Owners: @chapulina

tests, more cleanup, 'ign model'
  src/CMakeLists.txt
  src/ModelCommandAPI_TEST.cc
  src/cmd/CMakeLists.txt
  src/cmd/ModelCommandAPI.cc
  src/cmd/cmdmodel.rb.in
  src/cmd/model.yaml.in
Owners: @chapulina

Hello world plugin added (#699)
  examples/plugin/hello_world/CMakeLists.txt
  examples/plugin/hello_world/HelloWorld.cc
  examples/plugin/hello_world/HelloWorld.hh
  examples/plugin/hello_world/README.md
  examples/plugin/hello_world/hello_world_plugin.sdf
Owners: @chapulina

Fix codecheck (#887)
  src/systems/diff_drive/DiffDrive.cc
  test/integration/diff_drive_system.cc
Owners: @chapulina

Updated GimbalControllerPlugin.cc
  src/systems/gimbal_controller/GimbalControllerPlugin.cc
Owners: @chapulina

Updated files
  src/systems/gimbal_controller/GimbalControllerPlugin.cc
  src/systems/gimbal_controller/GimbalControllerPlugin.hh
Owners: @chapulina

test OnConfigure
  examples/standalone/gtest_setup/gravity_TEST.cc
  include/ignition/gazebo/TestFixture.hh
  src/SimulationRunner.cc
  src/SimulationRunner.hh
  src/TestFixture.cc
Owners: @chapulina

Add ISystemConfigure for one off configurations needed.
  examples/standalone/gtest_setup/gravity_TEST.cc
  include/ignition/gazebo/TestFixture.hh
  src/TestFixture.cc
Owners: @chapulina

Support Bullet on Edifice (#919)
  src/systems/physics/Physics.cc
Owners: @azeey

Make some tests more robust (#314)
  src/EntityComponentManager.cc
  test/integration/diff_drive_system.cc
  test/integration/sensors_system.cc
Owners: @chapulina

[FIX] Handle multiple logical cameras (#539)
  src/systems/logical_camera/LogicalCamera.cc
  test/integration/logical_camera_system.cc
  test/worlds/logical_camera_sensor.sdf
Owners: @chapulina

Fix topLevelModel method (#600)
  include/ignition/gazebo/Util.hh
  src/Util.cc
  src/Util_TEST.cc
Owners: @chapulina

Add a convenience function for getting possibly non-existing components. (#629)
  include/ignition/gazebo/EntityComponentManager.hh
  include/ignition/gazebo/detail/EntityComponentManager.hh
  src/EntityComponentManager_TEST.cc
Owners: @chapulina

Fix finding PBR materials (#575)
  src/rendering/SceneManager.cc
Owners: @iche033

World exporter (#474)
  CMakeLists.txt
  examples/worlds/collada_world_exporter.sdf
  src/systems/CMakeLists.txt
  src/systems/collada_world_exporter/CMakeLists.txt
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
  src/systems/collada_world_exporter/ColladaWorldExporter.hh
  test/integration/CMakeLists.txt
  test/integration/collada_world_exporter.cc
  test/integration/diff_drive_system.cc
  test/worlds/collada_world_exporter.sdf
  tutorials.md.in
  tutorials/collada_world_exporter.md
Owners: @chapulina

Fixes ruby script for internal testing.
  src/cmd/CMakeLists.txt
Owners: @chapulina

Fix tests that use multiple root level models or lights
  test/integration/user_commands.cc
  test/worlds/models/include_nested/model.sdf
Owners: @chapulina

Suggestions to model CLI (#893) (#928)
  src/CMakeLists.txt
  src/ModelCommandAPI_TEST.cc
  src/cmd/CMakeLists.txt
  src/cmd/ModelCommandAPI.cc
  src/cmd/ModelCommandAPI.hh
  src/cmd/cmdmodel.rb.in
  src/cmd/model.yaml.in
  tutorials.md.in
  tutorials/model_command.md
Owners: @chapulina

Model info CLI `ign model` (#893)
  src/CMakeLists.txt
  src/ModelCommandAPI_TEST.cc
  src/cmd/CMakeLists.txt
  src/cmd/ModelCommandAPI.cc
  src/cmd/ModelCommandAPI.hh
  src/cmd/cmdmodel.rb.in
  src/cmd/model.yaml.in
  test/worlds/static_diff_drive_vehicle.sdf
  tutorials.md.in
  tutorials/model_command.md
Owners: @chapulina

Fix topLevelModel method (#600)
  include/ignition/gazebo/Util.hh
  src/Util.cc
  src/Util_TEST.cc
Owners: @chapulina
