Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

Improve gimbal
  examples/plugin/gimbal_controller/CMakeLists.txt
  src/systems/CMakeLists.txt
  src/systems/gimbal_controller/CMakeLists.txt
  src/systems/gimbal_controller/GimbalControllerPlugin.cc
  src/systems/gimbal_controller/GimbalControllerPlugin.hh
  test/worlds/gimbal.sdf
Owners: @chapulina

shifted Cessna Plugin to src/systems
  src/systems/cessna_plugin/CMakeLists.txt
  src/systems/cessna_plugin/CessnaPlugin.cc
  src/systems/cessna_plugin/CessnaPlugin.hh
  test/worlds/cessna.sdf
Owners: @chapulina

Add blender sdf export tutorial (#895)
  examples/scripts/blender/sdf_exporter.py
  tutorials.md.in
  tutorials/blender_sdf_exporter.md
Owners: @chapulina

fix crash on GUI entity removal with levels
  include/ignition/gazebo/EntityComponentManager.hh
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
Owners: @chapulina

Physics system: update link poses if the canonical link pose has been updated (#876)
  src/systems/physics/Physics.cc
  test/integration/physics_system.cc
  test/worlds/only_canonical_link_moves.sdf
Owners: @azeey, @chapulina

remove ComponentStorage from detail namespace
  include/ignition/gazebo/ComponentStorage.hh
  include/ignition/gazebo/components/Component.hh
  include/ignition/gazebo/detail/ComponentStorage.hh
  src/ComponentStorage.cc
  src/ComponentStorage_TEST.cc
  src/EntityComponentManager.cc
  test/integration/view.cc
Owners: @chapulina

alphabetize, add braces
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
Owners: @chapulina

re-construct ComponentStorage instead of using Reset()
  include/ignition/gazebo/ComponentStorage.hh
  src/ComponentStorage.cc
  src/ComponentStorage_TEST.cc
  src/EntityComponentManager.cc
Owners: @chapulina

separate function declarations from implementation for View class
  include/ignition/gazebo/detail/View.hh
Owners: @chapulina

Adds Mesh Tutorial.
  tutorials.md.in
  tutorials/files/model_and_optimize_meshes/10_loop_cut.jpg
  tutorials/files/model_and_optimize_meshes/11_duplicate.jpg
  tutorials/files/model_and_optimize_meshes/12_other_modifiers.png
  tutorials/files/model_and_optimize_meshes/13_polygons.jpg
  tutorials/files/model_and_optimize_meshes/14_export_model.png
  tutorials/files/model_and_optimize_meshes/15_axis.png
  tutorials/files/model_and_optimize_meshes/16_check_scale.png
  tutorials/files/model_and_optimize_meshes/17_check_pivot_point_a.jpg
  tutorials/files/model_and_optimize_meshes/18_check_pivot_point_b.jpg
  tutorials/files/model_and_optimize_meshes/1_wheels.jpg
  tutorials/files/model_and_optimize_meshes/2_cylinder.jpg
  tutorials/files/model_and_optimize_meshes/3_transform_gizmos.png
  tutorials/files/model_and_optimize_meshes/4_move.png
  tutorials/files/model_and_optimize_meshes/5_rotate.jpg
  tutorials/files/model_and_optimize_meshes/7_scale.jpg
  tutorials/files/model_and_optimize_meshes/8_bevel.jpg
  tutorials/files/model_and_optimize_meshes/9_extrude.png
  tutorials/model_and_optimize_meshes.md
Owners: @chapulina

renamed ComponentStorage to EntityComponentStorage
  include/ignition/gazebo/EntityComponentStorage.hh
  include/ignition/gazebo/components/Component.hh
  src/CMakeLists.txt
  src/EntityComponentManager.cc
  src/EntityComponentStorage.cc
  src/EntityComponentStorage_TEST.cc
  test/integration/view.cc
Owners: @chapulina

Add test case from PR feedback
  src/EntityComponentManager_TEST.cc
Owners: @chapulina

cppcheck
  include/ignition/gazebo/components/Factory.hh
  test/integration/view.cc
Owners: @chapulina

Proposal for #856: Deprecations instead of removals (#873)
  include/ignition/gazebo/EntityComponentManager.hh
  include/ignition/gazebo/Types.hh
  include/ignition/gazebo/components/Factory.hh
  include/ignition/gazebo/detail/ComponentStorageBase.hh
  include/ignition/gazebo/detail/EntityComponentManager.hh
  src/CMakeLists.txt
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
  test/integration/view.cc
Owners: @chapulina

Move EntityComponentStorage into EntityComponentManager
  include/ignition/gazebo/EntityComponentStorage.hh
  include/ignition/gazebo/components/Component.hh
  src/CMakeLists.txt
  src/EntityComponentManager.cc
  src/EntityComponentStorage.cc
  src/EntityComponentStorage_TEST.cc
  test/integration/view.cc
Owners: @chapulina

Use component index in parallel state call instead of entityComponents
  src/EntityComponentManager.cc
Owners: @chapulina

remove entityComponents - some tests failing, solution could be to move removed logic to ECM?
  src/EntityComponentManager.cc
Owners: @chapulina

removed pose topic from LogPlayback
  src/systems/log/LogPlayback.cc
  test/integration/log_system.cc
  test/media/rolling_shapes_log/state.tlog
Owners: @chapulina

updated migration
  Migration.md
Owners: @chapulina

comment about re-recording state.tlog
  test/integration/log_system.cc
Owners: @chapulina

Fix updating GUI plugin on load (#904)
  src/gui/GuiRunner.cc
Owners: @chapulina

Update CessnaPlugin.cc
  src/systems/cessna_plugin/CessnaPlugin.cc
Owners: @chapulina

PR feedback, cppcheck
  examples/worlds/heightmap.sdf
  src/systems/physics/Physics.cc
Owners: @chapulina, @azeey

fix spelling
  src/rendering/RenderUtil.cc
Owners: @iche033

Fix link map
  src/rendering/RenderUtil.cc
Owners: @iche033

add simple test
  test/integration/physics_system.cc
  test/media/heightmap_bowl.png
  test/worlds/heightmap.sdf
Owners: @chapulina

remove TOC, change to Z up
  tutorials/model_and_optimize_meshes.md
Owners: @chapulina

Adds Mesh Tutorial (#915)
  tutorials.md.in
  tutorials/files/model_and_optimize_meshes/10_loop_cut.jpg
  tutorials/files/model_and_optimize_meshes/11_duplicate.jpg
  tutorials/files/model_and_optimize_meshes/12_other_modifiers.png
  tutorials/files/model_and_optimize_meshes/13_polygons.jpg
  tutorials/files/model_and_optimize_meshes/14_export_model.png
  tutorials/files/model_and_optimize_meshes/15_axis.png
  tutorials/files/model_and_optimize_meshes/16_check_scale.png
  tutorials/files/model_and_optimize_meshes/17_check_pivot_point_a.jpg
  tutorials/files/model_and_optimize_meshes/18_check_pivot_point_b.jpg
  tutorials/files/model_and_optimize_meshes/1_wheels.jpg
  tutorials/files/model_and_optimize_meshes/2_cylinder.jpg
  tutorials/files/model_and_optimize_meshes/3_transform_gizmos.png
  tutorials/files/model_and_optimize_meshes/4_move.png
  tutorials/files/model_and_optimize_meshes/5_rotate.jpg
  tutorials/files/model_and_optimize_meshes/7_scale.jpg
  tutorials/files/model_and_optimize_meshes/8_bevel.jpg
  tutorials/files/model_and_optimize_meshes/9_extrude.png
  tutorials/model_and_optimize_meshes.md
Owners: @chapulina

Heightmap physics (with DART) 🏔️ (#661)
  CMakeLists.txt
  examples/worlds/heightmap.sdf
  src/rendering/RenderUtil.cc
  src/systems/physics/Physics.cc
  test/integration/physics_system.cc
  test/media/heightmap_bowl.png
  test/worlds/heightmap.sdf
Owners: @chapulina, @iche033, @azeey

Support Bullet on Edifice
  src/systems/physics/Physics.cc
Owners: @azeey

Avoid warnings from Legacy mode
  src/systems/sensors/Sensors.cc
Owners: @iche033

Default to SetNumCameraPassesPerGpuFlush = 6
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Update to use the renamed PostRender call
  src/systems/sensors/Sensors.cc
Owners: @iche033

Call Scene::PostRenderGpuFlush
  src/systems/sensors/Sensors.cc
Owners: @iche033

Rename SetNumCameraPassesPerGpuFlush -> SetCameraPassCountPerGpuFlush
  src/gui/plugins/scene3d/Scene3D.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

cessna_test SDF file added
  examples/worlds/cessna.sdf
  test/worlds/cessna_test.sdf
Owners: @chapulina

variable name upstream change
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
Owners: @chapulina

Addressing comments made
  model/src/ModelCommandAPI_TEST.cc
  model/src/cmd/ModelCommandAPI.cc
  model/src/cmd/ModelCommandAPI.hh
  model/src/cmd/cmdmodel.rb.in
  model/src/cmd/ignmodel.yaml.in
Owners: @chapulina

First version of new model command for ign-gazebo
  CMakeLists.txt
  model/src/CMakeLists.txt
  model/src/ModelCommandAPI_TEST.cc
  model/src/cmd/CMakeLists.txt
  model/src/cmd/ModelCommandAPI.cc
  model/src/cmd/ModelCommandAPI.hh
  model/src/cmd/cmdmodel.rb.in
  model/src/cmd/ignmodel.yaml.in
  test/worlds/static_diff_drive_vehicle.sdf
Owners: @chapulina

Addressing comments from the PR
  model/src/ModelCommandAPI_TEST.cc
  model/src/cmd/ModelCommandAPI.cc
  model/src/cmd/cmdmodel.rb.in
  tutorials.md.in
  tutorials/model_command.md
Owners: @chapulina
