Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

merge view control plugin into view angle plugin
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/view_angle/ViewAngle.cc
  src/gui/plugins/view_angle/ViewAngle.hh
  src/gui/plugins/view_angle/ViewAngle.qml
  src/gui/plugins/view_control/CMakeLists.txt
  src/gui/plugins/view_control/ViewControl.cc
  src/gui/plugins/view_control/ViewControl.hh
  src/gui/plugins/view_control/ViewControl.qml
  src/gui/plugins/view_control/ViewControl.qrc
Owners: @chapulina

test added
  test/integration/CMakeLists.txt
  test/integration/halt_motion.cc
Owners: @chapulina

Trigger delay (#817)
  examples/worlds/triggered_publisher.sdf
  src/systems/triggered_publisher/TriggeredPublisher.cc
  src/systems/triggered_publisher/TriggeredPublisher.hh
  test/integration/triggered_publisher.cc
  test/worlds/triggered_publisher.sdf
Owners: @chapulina

Default options on components
  src/LevelManager.cc
  src/SdfEntityCreator.cc
  src/systems/physics/Physics.cc
  test/integration/physics_system.cc
Owners: @chapulina, @azeey

Style fix
  src/gui/plugins/scene3d/Scene3D.cc
  src/rendering/RenderUtil.cc
Owners: @chapulina, @iche033

Add cylinder buouyancy
  src/systems/buoyancy/Buoyancy.cc
Owners: @chapulina

Document missing parameter
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Remove tools/code_check and update codecov (#814)
  .github/workflows/ci.yml
  CMakeLists.txt
  tools/check_test_ran.py
  tools/code_check.sh
  tools/cppcheck_rules/header_guard.rule
  tools/cppcheck_rules/namespace_AZ.rule
  tools/cpplint.py
  tools/cpplint_to_cppcheckxml.py
Owners: @chapulina

Removed duplicated code with rendering::sceneFromFirstRenderEngine
  src/gui/plugins/align_tool/AlignTool.cc
  src/gui/plugins/grid_config/GridConfig.cc
  src/gui/plugins/transform_control/TransformControl.cc
  src/systems/camera_video_recorder/CameraVideoRecorder.cc
Owners: @chapulina

ColladaExporter, export submesh selected (#802)
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
  test/integration/collada_world_exporter.cc
  test/worlds/models/mesh_with_submeshes/model.sdf
Owners: @chapulina

Wireframe mode (#816)
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/modules/EntityContextMenu.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/rendering/RenderUtil.cc
Owners: @chapulina, @iche033

Added CircleSegmentSliceArea method
  src/systems/buoyancy/Buoyancy.cc
Owners: @chapulina

Fix codecheck
  test/integration/halt_motion.cc
Owners: @chapulina

Add warning
  src/systems/hydrodynamics/Hydrodynamics.cc
Owners: @chapulina

Add SDF parsing
  examples/worlds/graded_buoyancy.sdf
  src/systems/buoyancy/Buoyancy.cc
Owners: @chapulina

Address @mabelzhang's feedback.
  src/systems/hydrodynamics/Hydrodynamics.hh
Owners: @chapulina

Fix nested models
  src/rendering/RenderUtil.cc
Owners: @iche033

Adding HaltMotion (Or new suggested name) to physics plugin (#728)
  include/ignition/gazebo/components/HaltMotion.hh
  src/systems/kinetic_energy_monitor/KineticEnergyMonitor.cc
  src/systems/kinetic_energy_monitor/KineticEnergyMonitor.hh
  src/systems/physics/Physics.cc
  test/integration/CMakeLists.txt
  test/integration/halt_motion.cc
Owners: @chapulina, @azeey

Remove meshes from Gazebo
  src/rendering/SceneManager.cc
  src/systems/user_commands/UserCommands.cc
Owners: @iche033, @chapulina

update comment
  src/Conversions.cc
Owners: @chapulina

Bazel support for gazebo5
  BUILD.bazel
  src/gui/plugins/BUILD.bazel
  src/gui/plugins/gui_plugin.bzl
  test/BUILD.bazel
Owners: @chapulina

Fix deep nested models
  src/rendering/RenderUtil.cc
Owners: @iche033

Use moveToHelper from ign-rendering
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

add conversion for particle scatter ratio field (#791)
  src/Conversions.cc
  src/Conversions_TEST.cc
  src/systems/particle_emitter2/ParticleEmitter2.cc
  test/integration/particle_emitter2.cc
  test/integration/thermal_sensor_system.cc
  test/integration/thermal_system.cc
  test/worlds/particle_emitter2.sdf
Owners: @chapulina

Nits
  src/rendering/RenderUtil.cc
Owners: @iche033

Add stack header
  src/rendering/RenderUtil.cc
Owners: @iche033

Add inertia menu item
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/modules/EntityContextMenu.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

Update Hydrodynamics.cc
  src/systems/hydrodynamics/Hydrodynamics.cc
Owners: @chapulina

Prepare for 4.9.0 release
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

Prepare for 4.9.0 release (#829)
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

Adds support for ocean currents (#800)
  src/systems/hydrodynamics/Hydrodynamics.cc
  src/systems/hydrodynamics/Hydrodynamics.hh
  tutorials.md.in
  tutorials/underwater_vehicles.md
Owners: @chapulina

Add render methods
  include/ignition/gazebo/rendering/SceneManager.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

Using the math::SpeedLimiter inside the diff_drive and ackermann_steering controllers
  src/systems/ackermann_steering/AckermannSteering.cc
  src/systems/diff_drive/DiffDrive.cc
Owners: @chapulina

Asks for confirmation when exiting gazebo
  src/gui/gui.config
Owners: @chapulina

Document better our use of emit TextureInUse
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Change Q_SLOTS to slots for consistency
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Fix visual creation
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @iche033

Update collision visualization to support nested models (#823)
  src/rendering/RenderUtil.cc
Owners: @iche033

Make halt motiona act like a brake
  src/systems/physics/Physics.cc
Owners: @azeey

Make halt motiona act like a brake (#830)
  src/systems/physics/Physics.cc
Owners: @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033
