Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

Don't make it official yet
  examples/worlds/minimal_scene.sdf
  src/gui/gui.config
Owners: @chapulina

alphabetize
  src/gui/plugins/scene_manager/GzSceneManager.cc
Owners: @chapulina

Added new parameter documentation
  src/rendering/RenderUtil.cc
Owners: @iche033

Codecheck
  src/rendering/RenderUtil.cc
Owners: @iche033

PR feedback
  examples/worlds/minimal_scene.sdf
  src/gui/plugins/scene_manager/GzSceneManager.cc
Owners: @chapulina

Fixed tests
  src/gui/plugins/joint_position_controller/JointPositionController_TEST.cc
  src/gui/plugins/plot_3d/Plot3D_TEST.cc
Owners: @chapulina

Allow referencing links in nested models in LiftDrag (#955)
  examples/worlds/lift_drag_nested.sdf
  src/systems/lift_drag/LiftDrag.cc
  src/systems/lift_drag/LiftDrag.hh
  test/integration/lift_drag_system.cc
  test/worlds/lift_drag_nested_model.sdf
  test/worlds/models/lift_drag_wing/model.config
  test/worlds/models/lift_drag_wing/model.sdf
Owners: @chapulina

updated popup error
  src/gui/plugins/scene3d/GzScene3D.qml
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Drag and drop meshes into scene (#939)
  src/gui/plugins/scene3d/GzScene3D.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

New scene manager GUI plugin that works with ign-gui's MinimalScene (#813)
  examples/worlds/minimal_scene.sdf
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/scene_manager/CMakeLists.txt
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/gui/plugins/scene_manager/GzSceneManager.hh
  src/gui/plugins/scene_manager/GzSceneManager.qml
  src/gui/plugins/scene_manager/GzSceneManager.qrc
  src/rendering/RenderUtil.cc
Owners: @chapulina, @iche033

review feedback
  include/ignition/gazebo/EntityComponentManager.hh
  include/ignition/gazebo/components/Factory.hh
  include/ignition/gazebo/detail/BaseView.hh
  include/ignition/gazebo/detail/EntityComponentManager.hh
  src/BaseView_TEST.cc
  src/ComponentFactory_TEST.cc
Owners: @chapulina

clean up select entities
  examples/worlds/minimal_scene.sdf
  include/ignition/gazebo/gui/GuiEvents.hh
  src/gui/plugins/select_entities/SelectEntities.cc
  src/gui/plugins/select_entities/SelectEntities.hh
  src/gui/plugins/transform_control_logic/TransformControlLogic.cc
  src/gui/plugins/transform_control_logic/TransformControlLogic.hh
Owners: @chapulina

Start combining TransformControls
  examples/worlds/minimal_scene.sdf
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/transform_control/TransformControl.cc
Owners: @chapulina

Be more specific when looking for physics plugins
  src/systems/physics/Physics.cc
Owners: @azeey

Be more specific when looking for physics plugins (#965)
  src/systems/physics/Physics.cc
Owners: @azeey

3 -> 4 fixes (#964)
  examples/plugin/rendering_plugins/CMakeLists.txt
Owners: @chapulina

Removed pose topic from log system (#839)
  Migration.md
  src/systems/log/LogPlayback.cc
  src/systems/log/LogRecord.cc
  test/integration/log_system.cc
  test/media/rolling_shapes_log/state.tlog
Owners: @chapulina

🎈 3.9.0~pre2
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

🎈 3.9.0~pre2 (#967)
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

Update test/integration/odometry_publisher.cc
  test/integration/odometry_publisher.cc
Owners: @chapulina

improvements
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/select_entities/SelectEntities.cc
  src/gui/plugins/transform_control/TransformControl.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

make linters happy
  src/gui/plugins/transform_control/TransformControl.cc
Owners: @chapulina

Remove transform control logic plugin
  src/gui/plugins/transform_control_logic/CMakeLists.txt
  src/gui/plugins/transform_control_logic/TransformControlLogic.cc
  src/gui/plugins/transform_control_logic/TransformControlLogic.hh
  src/gui/plugins/transform_control_logic/TransformControlLogic.qml
  src/gui/plugins/transform_control_logic/TransformControlLogic.qrc
Owners: @chapulina

simpler map erase
  examples/plugin/custom_sensor_system/OdometerSystem.cc
Owners: @chapulina

set visibility for template specializations
  include/ignition/gazebo/detail/View.hh
Owners: @chapulina

Try the ign-gui plugins approach
  include/ignition/gazebo/detail/View.hh
Owners: @chapulina

Disable rendering test on Mac
  test/integration/follow_actor_system.cc
Owners: @chapulina

Add missing header for test
  test/integration/follow_actor_system.cc
Owners: @chapulina

TEST_F -> TEST_P
  test/integration/follow_actor_system.cc
Owners: @chapulina

Make Server test not write to /home/chapulina, attempt more Windows stuff
  include/ignition/gazebo/detail/View.hh
  src/ServerConfig.cc
  test/helpers/EnvTestFixture.hh
Owners: @chapulina

Fix crash in the follow_actor example (#958)
  src/rendering/RenderUtil.cc
  test/integration/follow_actor_system.cc
  test/worlds/follow_actor.sdf
Owners: @iche033, @chapulina

Fixed compilation error
  src/gui/plugins/transform_control/TransformControl.cc
Owners: @chapulina

Remove traces
  src/gui/plugins/transform_control/TransformControl.cc
Owners: @chapulina

Tweak
  include/ignition/gazebo/components/Model.hh
Owners: @chapulina

Fixed Windows warning
  src/ServerConfig.cc
Owners: @chapulina

Only build example with cmake >= 3.11
  test/integration/examples_build.cc
  test/test_config.hh.in
Owners: @chapulina
