Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

make linters happy
  src/rendering/RenderUtil.cc
Owners: @iche033

Visualize inertia (#861)
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/modules/EntityContextMenu.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

code refactored
  examples/plugin/gimbal_controller/CMakeLists.txt
  examples/plugin/gimbal_controller/GimbalControllerPlugin.cc
  examples/plugin/gimbal_controller/GimbalControllerPlugin.hh
Owners: @chapulina

realsense camera plugin added
  examples/plugin/realsense_camera/CMakeLists.txt
  examples/plugin/realsense_camera/RealSensePlugin.cc
  examples/plugin/realsense_camera/RealSensePlugin.hh
Owners: @chapulina

Add renderutil impl
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/modules/EntityContextMenu.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

Set joint data
  include/ignition/gazebo/rendering/SceneManager.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

Transparent mode (#878)
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/modules/EntityContextMenu.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

Add center of mass widget
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/modules/EntityContextMenu.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

Remove extra parent check
  src/rendering/SceneManager.cc
Owners: @iche033

Use RenderUtil::HideWireboxes
  src/rendering/RenderUtil.cc
Owners: @iche033

mimic removed
  examples/plugin/mimic_joint/CMakeLists.txt
  examples/plugin/mimic_joint/MimicJoint.cc
  examples/plugin/mimic_joint/MimicJoint.hh
  examples/plugin/mimic_joint/README.md
Owners: @chapulina

Update GimbalControllerPlugin.cc
  examples/plugin/gimbal_controller/GimbalControllerPlugin.cc
Owners: @chapulina

Update GimbalControllerPlugin.cc
  examples/plugin/gimbal_controller/GimbalControllerPlugin.cc
Owners: @chapulina

indentations adjusted
  examples/plugin/gimbal_controller/GimbalControllerPlugin.cc
  examples/plugin/gimbal_controller/GimbalControllerPlugin.hh
Owners: @chapulina

Update GimbalControllerPlugin.cc
  examples/plugin/gimbal_controller/GimbalControllerPlugin.cc
Owners: @chapulina

Use new API
  src/rendering/SceneManager.cc
Owners: @iche033

Visualize center of mass (#903)
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/modules/EntityContextMenu.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

Update GimbalControllerPlugin.cc
  examples/plugin/gimbal_controller/GimbalControllerPlugin.cc
Owners: @chapulina

Fix updating GUI plugin on load
  src/gui/GuiRunner.cc
Owners: @chapulina

moved marker example to ign-gui
  Migration.md
  examples/standalone/marker/CMakeLists.txt
  examples/standalone/marker/README.md
  examples/standalone/marker/marker.cc
Owners: @chapulina

Visualize contacts from EntityContextMenu
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/modules/EntityContextMenu.qml
  src/gui/plugins/visualize_contacts/VisualizeContacts.cc
  src/gui/plugins/visualize_contacts/VisualizeContacts.hh
  src/gui/plugins/visualize_contacts/VisualizeContacts.qml
Owners: @chapulina

Remove unused param
  src/gui/plugins/visualize_contacts/VisualizeContacts.hh
Owners: @chapulina

renamed linkWorldFrameData to canonicalLinkWorldFrameData
  src/systems/physics/Physics.cc
Owners: @azeey

cessna plugin added
  examples/plugin/cessna_plugin/CMakeLists.txt
  examples/plugin/cessna_plugin/CessnaPlugin.cc
  examples/plugin/cessna_plugin/CessnaPlugin.hh
  examples/worlds/cessna.sdf
Owners: @chapulina

Update CessnaPlugin.cc
  examples/plugin/cessna_plugin/CessnaPlugin.cc
Owners: @chapulina

added tests for View and BaseView classes
  include/ignition/gazebo/detail/BaseView.hh
  include/ignition/gazebo/detail/EntityComponentManager.hh
  include/ignition/gazebo/detail/View.hh
  src/BaseView.cc
  src/BaseView_TEST.cc
  src/CMakeLists.txt
  src/EntityComponentManager.cc
  test/integration/CMakeLists.txt
  test/integration/view.cc
Owners: @chapulina

Proposal for #865: Deprecations instead of removals
  include/ignition/gazebo/EntityComponentManager.hh
  include/ignition/gazebo/Types.hh
  include/ignition/gazebo/components/Component.hh
  include/ignition/gazebo/components/Factory.hh
  include/ignition/gazebo/detail/ComponentStorageBase.hh
  include/ignition/gazebo/detail/EntityComponentManager.hh
  include/ignition/gazebo/detail/EntityStorage.hh
  src/CMakeLists.txt
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
  src/EntityStorage.cc
  src/EntityStorage_TEST.cc
  test/integration/view.cc
Owners: @chapulina

Apply suggestions from code review
  include/ignition/gazebo/components/Factory.hh
Owners: @chapulina

Update ComponentKey, EntityComponentStorage
  include/ignition/gazebo/Types.hh
  include/ignition/gazebo/components/Component.hh
  include/ignition/gazebo/detail/EntityComponentStorage.hh
  src/CMakeLists.txt
  src/EntityComponentManager.cc
  src/EntityComponentStorage.cc
  src/EntityComponentStorage_TEST.cc
  test/integration/view.cc
Owners: @chapulina

Cleanup
  src/gui/gui.config
  src/gui/plugins/banana_for_scale/BananaForScale.cc
  src/gui/plugins/banana_for_scale/BananaForScale.qml
Owners: @chapulina

Banana for Scale (#734)
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/banana_for_scale/BananaForScale.cc
  src/gui/plugins/banana_for_scale/BananaForScale.hh
  src/gui/plugins/banana_for_scale/BananaForScale.qml
  src/gui/plugins/banana_for_scale/BananaForScale.qrc
  src/gui/plugins/banana_for_scale/CMakeLists.txt
  src/gui/plugins/banana_for_scale/banana.png
Owners: @chapulina

arducopter plugin added
  examples/plugin/arducopter/ArduCopterPlugin.cc
  examples/plugin/arducopter/ArduCopterPlugin.hh
  examples/plugin/arducopter/CMakeLists.txt
Owners: @chapulina

Update ArduCopterPlugin.cc
  examples/plugin/arducopter/ArduCopterPlugin.cc
Owners: @chapulina

collada world exporter now exporting lights
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
Owners: @chapulina

codecheck
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
Owners: @chapulina

moved marker example to ign-gui (#905)
  Migration.md
  examples/standalone/marker/CMakeLists.txt
  examples/standalone/marker/README.md
  examples/standalone/marker/marker.cc
Owners: @chapulina

add world exporter with lights test
  test/integration/collada_world_exporter.cc
  test/worlds/collada_world_exporter_lights.sdf
Owners: @chapulina

text fixes, float model names to top of function
  examples/scripts/blender/sdf_exporter.py
  tutorials/blender_sdf_exporter.md
Owners: @chapulina

fix model name, export dae to meshes folder
  examples/scripts/blender/sdf_exporter.py
Owners: @chapulina

fix tutorial text
  tutorials/blender_sdf_exporter.md
Owners: @chapulina
