Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

More warnings
  src/ComponentFactory_TEST.cc
  src/Component_TEST.cc
  src/Conversions_TEST.cc
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
  src/gui/CMakeLists.txt
  src/rendering/SceneManager.cc
  test/integration/user_commands.cc
Owners: @chapulina, @iche033

linter
  test/integration/user_commands.cc
Owners: @chapulina

rename files
  src/systems/hydrodynamics/Hydrodynamics.cc
  src/systems/hydrodynamics/Hydrodynamics.hh
  src/systems/thruster/Thruster.cc
  src/systems/thruster/Thruster.hh
Owners: @chapulina

rearrange files
  lrauv_ignition_plugins/src/TethysCommPlugin.cc
  lrauv_ignition_plugins/src/TethysCommPlugin.hh
  src/systems/hydrodynamics/HydrodynamicsPlugin.cc
  src/systems/hydrodynamics/HydrodynamicsPlugin.hh
  src/systems/thruster/ThrusterPlugin.cc
  src/systems/thruster/ThrusterPlugin.hh
Owners: @chapulina

Phase1/combinehistories (#1)
  lrauv_ignition_plugins/src/HydrodynamicsPlugin.cc
  lrauv_ignition_plugins/src/HydrodynamicsPlugin.hh
  lrauv_ignition_plugins/src/TethysCommPlugin.cc
  lrauv_ignition_plugins/src/TethysCommPlugin.hh
  lrauv_ignition_plugins/src/ThrusterPlugin.cc
  lrauv_ignition_plugins/src/ThrusterPlugin.hh
Owners: @chapulina

ignition-ify plugins
  src/systems/hydrodynamics/CMakeLists.txt
  src/systems/hydrodynamics/Hydrodynamics.cc
  src/systems/hydrodynamics/Hydrodynamics.hh
  src/systems/thruster/CMakeLists.txt
  src/systems/thruster/Thruster.cc
  src/systems/thruster/Thruster.hh
Owners: @chapulina

Add to build
  src/systems/CMakeLists.txt
Owners: @chapulina

[DiffDrive] add enable/disable (#772)
  src/systems/diff_drive/DiffDrive.cc
  test/integration/diff_drive_system.cc
Owners: @chapulina

Add tutorial + example
  examples/worlds/auv_controls.sdf
  tutorials/files/underwater/MBARI forces.png
  tutorials/underwater_vehicles.md
Owners: @chapulina

Fix 'invalid animation update data' msg for actors (#754)
  src/rendering/RenderUtil.cc
Owners: @iche033

Minor tweaks
  examples/worlds/auv_controls.sdf
  src/systems/hydrodynamics/Hydrodynamics.cc
  src/systems/hydrodynamics/Hydrodynamics.hh
  src/systems/thruster/Thruster.cc
  src/systems/thruster/Thruster.hh
  tutorials/underwater_vehicles.md
Owners: @chapulina

Style changes
  src/systems/hydrodynamics/Hydrodynamics.cc
  src/systems/hydrodynamics/Hydrodynamics.hh
Owners: @chapulina

scope lock and add docygen comments
  src/systems/thruster/Thruster.cc
Owners: @chapulina

Add better error logging
  src/systems/hydrodynamics/Hydrodynamics.cc
Owners: @chapulina

Fix Data Pointer
  src/systems/hydrodynamics/Hydrodynamics.cc
Owners: @chapulina

more fixes
  src/systems/hydrodynamics/Hydrodynamics.cc
Owners: @chapulina

Style fix
  src/systems/hydrodynamics/Hydrodynamics.cc
Owners: @chapulina

Renamed flag from headless to headless-rendering
  include/ignition/gazebo/ServerConfig.hh
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/LevelManager.cc
  src/ServerConfig.cc
  src/cmd/cmdgazebo.rb.in
  src/ign.cc
  src/rendering/RenderUtil.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

moved everything into gamelogic
  src/systems/kinetic_energy_monitor/KineticEnergyMonitor.cc
  src/systems/kinetic_energy_monitor/KineticEnergyMonitor.hh
Owners: @chapulina

Support fuel local cache
  src/gui/plugins/resource_spawner/ResourceSpawner.cc
Owners: @chapulina

floaties
  src/Conversions_TEST.cc
Owners: @chapulina

more floaties
  test/integration/components.cc
Owners: @chapulina

Fix macOS build: components::Name in benchmark
  src/ServerPrivate.cc
  src/SimulationRunner.cc
  test/benchmark/each.cc
Owners: @chapulina

typo
  src/systems/physics/Physics.cc
Owners: @azeey

👩‍🌾 Enable Focal CI (#646)
  .github/workflows/ci.yml
  src/ServerPrivate.cc
  src/SimulationRunner.cc
  test/integration/diff_drive_system.cc
  test/integration/wheel_slip.cc
Owners: @chapulina

[TPE] Support setting individual link velocity (#427)
  examples/worlds/pendulum_links.sdf
  src/systems/physics/Physics.cc
  src/systems/velocity_control/VelocityControl.cc
  test/integration/velocity_control_system.cc
  test/worlds/velocity_control.sdf
Owners: @chapulina, @azeey

copy included element
  src/SdfGenerator.cc
Owners: @chapulina

more warnings
  src/Conversions.cc
  src/SimulationRunner.cc
  src/gui/plugins/grid_config/GridConfig.cc
  src/systems/optical_tactile_plugin/Visualization.cc
  test/integration/CMakeLists.txt
  test/integration/altimeter_system.cc
  test/integration/imu_system.cc
  test/integration/log_system.cc
  test/integration/physics_system.cc
  test/performance/sdf_runner.cc
  test/plugins/CMakeLists.txt
Owners: @chapulina

Don't store duplicate ComponentTypeId in ECM (#751)
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
Owners: @chapulina

units + explicit override
  src/systems/thruster/Thruster.hh
Owners: @chapulina

Add units
  src/systems/hydrodynamics/Hydrodynamics.hh
  src/systems/thruster/Thruster.hh
Owners: @chapulina

improve gazebo
  src/systems/joint_controller/JointController.cc
Owners: @chapulina

Require usage of SdfEntityCreator in Fortress
  Migration.md
Owners: @chapulina

Feature/hydrodynamics (#749)
  examples/worlds/auv_controls.sdf
  src/systems/CMakeLists.txt
  src/systems/hydrodynamics/CMakeLists.txt
  src/systems/hydrodynamics/Hydrodynamics.cc
  src/systems/hydrodynamics/Hydrodynamics.hh
  src/systems/thruster/CMakeLists.txt
  src/systems/thruster/Thruster.cc
  src/systems/thruster/Thruster.hh
  tutorials/files/underwater/MBARI forces.png
  tutorials/underwater_vehicles.md
Owners: @chapulina

Add colladaExporter test for submesh case
  test/integration/collada_world_exporter.cc
  test/worlds/collada_world_exporter_submesh.sdf
Owners: @chapulina

Remove wrongly added mesh
  test/worlds/models/mesh_with_submeshes/meshes/box.dae
  test/worlds/models/mesh_with_submeshes/model.sdf
Owners: @chapulina

Fix submesh index
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
Owners: @chapulina

Add test case for submeshes
  test/integration/collada_world_exporter.cc
  test/worlds/collada_world_exporter_submesh.sdf
  test/worlds/models/cordless_drill/materials/textures/cordless_drill.png
  test/worlds/models/cordless_drill/meshes/cordless_drill.dae
  test/worlds/models/cordless_drill/model.config
  test/worlds/models/cordless_drill/model.sdf
Owners: @chapulina

Change test model to include submeshes
  test/worlds/collada_world_exporter_submesh.sdf
  test/worlds/models/cordless_drill/meshes/cordless_drill.dae
  test/worlds/models/cordless_drill/model.config
  test/worlds/models/mesh_with_submeshes/materials/textures/cordless_drill.png
  test/worlds/models/mesh_with_submeshes/meshes/box.dae
  test/worlds/models/mesh_with_submeshes/meshes/mesh_with_submeshes.dae
  test/worlds/models/mesh_with_submeshes/model.config
  test/worlds/models/mesh_with_submeshes/model.sdf
Owners: @chapulina

enable scale mode
  src/gui/plugins/transform_control/TransformControl.cc
  src/gui/plugins/transform_control/TransformControl.hh
  src/gui/plugins/transform_control/TransformControl.qml
Owners: @chapulina

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033
