Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

4.9.1 prep
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

Add view control gui plugin and support orthographic view (#815)
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/gui/plugins/view_angle/ViewAngle.cc
  src/gui/plugins/view_angle/ViewAngle.hh
  src/gui/plugins/view_angle/ViewAngle.qml
Owners: @chapulina

4.9.1 prep (#831)
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

Update wireframe visualization to support nested models
  src/rendering/RenderUtil.cc
Owners: @iche033

Using math::SpeedLimiter on the diff_drive controller.
  src/systems/diff_drive/CMakeLists.txt
  src/systems/diff_drive/DiffDrive.cc
  src/systems/diff_drive/SpeedLimiter.cc
  src/systems/diff_drive/SpeedLimiter.hh
Owners: @chapulina

Use moveToHelper from ign-rendering (#825)
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Remove unused headers in video_recoder plugin
  src/gui/plugins/video_recorder/VideoRecorder.cc
Owners: @chapulina

Added const modifiers as suggested.
  src/systems/diff_drive/DiffDrive.cc
Owners: @chapulina

Remove unused headers in video_recoder plugin (#834)
  src/gui/plugins/video_recorder/VideoRecorder.cc
Owners: @chapulina

Adding error messages and ToDos.
  src/gui/plugins/scene3d/Scene3D.cc
  src/rendering/RenderUtil.cc
Owners: @chapulina, @iche033

Removed duplicated code with rendering::sceneFromFirstRenderEngine (#819)
  src/gui/plugins/align_tool/AlignTool.cc
  src/gui/plugins/grid_config/GridConfig.cc
  src/gui/plugins/transform_control/TransformControl.cc
  src/systems/camera_video_recorder/CameraVideoRecorder.cc
Owners: @chapulina

Expand TODO with ellipsoid.
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Cleanup and alphabetize plugin headers
  src/gui/plugins/align_tool/AlignTool.cc
  src/gui/plugins/align_tool/AlignTool.hh
  src/gui/plugins/grid_config/GridConfig.cc
  src/gui/plugins/playback_scrubber/PlaybackScrubber.cc
  src/gui/plugins/playback_scrubber/PlaybackScrubber.hh
  src/gui/plugins/resource_spawner/ResourceSpawner.cc
  src/gui/plugins/shapes/Shapes.cc
  src/gui/plugins/transform_control/TransformControl.cc
Owners: @chapulina

removed pose topic from LogRecord
  src/systems/log/LogRecord.cc
  test/integration/log_system.cc
Owners: @chapulina

added todo for fortress
  src/systems/log/LogPlayback.cc
  test/integration/log_system.cc
Owners: @chapulina

Fix race condition when rendering the UI (#774)
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Cleanup and alphabetize plugin headers (#838)
  src/gui/plugins/align_tool/AlignTool.cc
  src/gui/plugins/align_tool/AlignTool.hh
  src/gui/plugins/grid_config/GridConfig.cc
  src/gui/plugins/playback_scrubber/PlaybackScrubber.cc
  src/gui/plugins/playback_scrubber/PlaybackScrubber.hh
  src/gui/plugins/resource_spawner/ResourceSpawner.cc
  src/gui/plugins/shapes/Shapes.cc
  src/gui/plugins/transform_control/TransformControl.cc
Owners: @chapulina

Lint
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Multi-LRAUV swimming race example world and controller
  examples/standalone/multi_lrauv_race/CMakeLists.txt
  examples/standalone/multi_lrauv_race/multi_lrauv_race.cc
  examples/worlds/multi_lrauv_race.sdf
Owners: @chapulina

specifiy units
  examples/standalone/multi_lrauv_race/multi_lrauv_race.cc
Owners: @chapulina

Using math::SpeedLimiter on the ackermann_steering controller.
  src/systems/ackermann_steering/AckermannSteering.cc
  src/systems/ackermann_steering/CMakeLists.txt
  src/systems/ackermann_steering/SpeedLimiter.cc
  src/systems/ackermann_steering/SpeedLimiter.hh
Owners: @chapulina

Deleted extra include.
  src/systems/ackermann_steering/AckermannSteering.cc
Owners: @chapulina

Update GimbalControllerPlugin.cc
  examples/plugin/gimba_controller/GimbalControllerPlugin.cc
Owners: @chapulina

gimbal plugin added
  examples/plugin/gimba_controller/CMakeLists.txt
  examples/plugin/gimba_controller/GimbalControllerPlugin.cc
  examples/plugin/gimba_controller/GimbalControllerPlugin.hh
Owners: @chapulina

codes updated
  examples/plugin/gimba_controller/GimbalControllerPlugin.cc
  examples/plugin/gimba_controller/GimbalControllerPlugin.hh
Owners: @chapulina

blank lines reduced
  examples/plugin/gimba_controller/GimbalControllerPlugin.cc
  examples/plugin/gimba_controller/GimbalControllerPlugin.hh
Owners: @chapulina

Update GimbalControllerPlugin.cc
  examples/plugin/gimba_controller/GimbalControllerPlugin.cc
Owners: @chapulina

Update GimbalControllerPlugin.cc
  examples/plugin/gimba_controller/GimbalControllerPlugin.cc
Owners: @chapulina

Update GimbalControllerPlugin.cc
  examples/plugin/gimba_controller/GimbalControllerPlugin.cc
Owners: @chapulina

Added some-process flag
  include/ignition/gazebo/Server.hh
  include/ignition/gazebo/ServerConfig.hh
  include/ignition/gazebo/gui/Gui.hh
  include/ignition/gazebo/gui/GuiRunner.hh
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/Server.cc
  src/ServerConfig.cc
  src/SimulationRunner.cc
  src/SimulationRunner.hh
  src/cmd/cmdgazebo.rb.in
  src/gui/Gui.cc
  src/gui/GuiRunner.cc
  src/ign.cc
  src/ign.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

Asks for confirmation when exiting gazebo
  src/gui/gui.config
Owners: @chapulina

Avoid some crashes
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/gui/gui.config
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

Using math::SpeedLimiter on the ackermann_steering controller. (#837)
  src/systems/ackermann_steering/AckermannSteering.cc
  src/systems/ackermann_steering/CMakeLists.txt
  src/systems/ackermann_steering/SpeedLimiter.cc
  src/systems/ackermann_steering/SpeedLimiter.hh
Owners: @chapulina

Improved implementation
  include/ignition/gazebo/Events.hh
  include/ignition/gazebo/Server.hh
  include/ignition/gazebo/System.hh
  include/ignition/gazebo/gui/Gui.hh
  include/ignition/gazebo/gui/GuiRunner.hh
  include/ignition/gazebo/gui/GuiSystem.hh
  src/Server.cc
  src/SimulationRunner.cc
  src/gui/Gui.cc
  src/gui/GuiRunner.cc
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/gui/plugins/scene_manager/GzSceneManager.hh
  src/ign.cc
  src/rendering/RenderUtil.cc
  src/systems/sensors/Sensors.cc
  src/systems/sensors/Sensors.hh
Owners: @chapulina, @iche033

Fix potentially flaky integration component test case
  test/integration/components.cc
Owners: @chapulina

added more improvemetns
  include/ignition/gazebo/ServerConfig.hh
  include/ignition/gazebo/gui/GuiSystem.hh
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/ServerConfig.cc
  src/SimulationRunner.cc
  src/gui/GuiRunner.cc
  src/gui/gui.config
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/gui/plugins/scene_manager/GzSceneManager.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

uncomment code
  src/gui/plugins/scene_manager/GzSceneManager.cc
Owners: @chapulina

some fixes
  src/gui/GuiRunner.cc
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

replaced find_package with ign_find_package
  examples/plugin/Hello_world/CMakeLists.txt
Owners: @chapulina

Change the diff_drive_system test to cover min_acceleration and min_velocity limits. Added those limits to the .sdf file.
  test/integration/diff_drive_system.cc
  test/worlds/diff_drive.sdf
Owners: @chapulina
