Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

Util: Use public API from libsdformat for detecting non-file source (#794)
  src/Util.cc
Owners: @chapulina

Remove tools in favor of `make codecheck` (#211)
  CMakeLists.txt
  tools/check_test_ran.py
  tools/code_check.sh
  tools/cppcheck_rules/header_guard.rule
  tools/cppcheck_rules/namespace_AZ.rule
  tools/cpplint.py
  tools/cpplint_to_cppcheckxml.py
Owners: @chapulina

Add basic class outline
  src/systems/custom_liftdrag_profile/CMakeLists.txt
  src/systems/custom_liftdrag_profile/CustomLiftDragProfile.cpp
  src/systems/custom_liftdrag_profile/CustomLiftdragProfile.hpp
Owners: @chapulina

Port codecov to new configuration
  .github/workflows/ci.yml
Owners: @chapulina

Minor changes.
  src/systems/hydrodynamics/Hydrodynamics.cc
Owners: @chapulina

Add currents
  src/systems/hydrodynamics/Hydrodynamics.cc
  src/systems/hydrodynamics/Hydrodynamics.hh
Owners: @chapulina

Check if simple mesh
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/gui/plugins/transform_control/TransformControl.qml
Owners: @chapulina

fix scaling wirebox
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/gui/plugins/scene3d/Scene3D.cc
  src/rendering/RenderUtil.cc
Owners: @chapulina, @iche033

Tweaks
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Add TODO note.
  src/rendering/RenderUtil.cc
Owners: @iche033

Add TODO note.
  src/rendering/RenderUtil.cc
Owners: @iche033

Fix default current
  src/systems/hydrodynamics/Hydrodynamics.cc
Owners: @chapulina

main file updated
  examples/plugin/hydrademo/HydraDemo.cc
Owners: @chapulina

Fix deadlock when using MoveTo modifier
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Force serialization of render commands
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Fix race condition when rendering the UI
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Fix deadlock on initialization & shutdown
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Reimplemented synchronization mechanism to fix deadlocks
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Add `water_density` an option instead of <waterDensity>
  src/systems/hydrodynamics/Hydrodynamics.cc
  src/systems/hydrodynamics/Hydrodynamics.hh
Owners: @chapulina

Document RenderSync
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Add support for sphere volume
  src/systems/buoyancy/Buoyancy.cc
Owners: @chapulina

Add service and GUI to configure physics parameters (step size and real time factor) (#536)
  include/ignition/gazebo/Conversions.hh
  include/ignition/gazebo/components/Physics.hh
  include/ignition/gazebo/components/PhysicsCmd.hh
  src/Conversions.cc
  src/Conversions_TEST.cc
  src/LevelManager.cc
  src/SdfEntityCreator.cc
  src/SdfEntityCreator_TEST.cc
  src/SimulationRunner.cc
  src/SimulationRunner.hh
  src/SimulationRunner_TEST.cc
  src/gui/plugins/component_inspector/ComponentInspector.cc
  src/gui/plugins/component_inspector/ComponentInspector.hh
  src/gui/plugins/component_inspector/ComponentInspector.qml
  src/gui/plugins/component_inspector/ComponentInspector.qrc
  src/gui/plugins/component_inspector/Physics.qml
  src/systems/user_commands/UserCommands.cc
  test/integration/user_commands.cc
Owners: @chapulina

Fix included nested model expansion in SDF generation (#768)
  src/SdfGenerator.cc
  src/SdfGenerator.hh
  test/integration/save_world.cc
  test/worlds/model_nested_include.sdf
Owners: @chapulina

Map canonical links to their models (#736)
  src/systems/physics/CanonicalLinkModelTracker.hh
  src/systems/physics/Physics.cc
  test/integration/physics_system.cc
  test/worlds/nested_model_canonical_link.sdf
Owners: @azeey, @chapulina

Fixed backport #536
  src/systems/user_commands/UserCommands.cc
Owners: @chapulina

[Backport #536 3 ⬅️ 4] Add service and GUI to configure physics parameters (#812)
  include/ignition/gazebo/Conversions.hh
  include/ignition/gazebo/components/Physics.hh
  include/ignition/gazebo/components/PhysicsCmd.hh
  src/Conversions.cc
  src/Conversions_TEST.cc
  src/LevelManager.cc
  src/SdfEntityCreator.cc
  src/SdfEntityCreator_TEST.cc
  src/SimulationRunner.cc
  src/SimulationRunner.hh
  src/SimulationRunner_TEST.cc
  src/gui/plugins/component_inspector/ComponentInspector.cc
  src/gui/plugins/component_inspector/ComponentInspector.hh
  src/gui/plugins/component_inspector/ComponentInspector.qml
  src/gui/plugins/component_inspector/ComponentInspector.qrc
  src/gui/plugins/component_inspector/Physics.qml
  src/systems/user_commands/UserCommands.cc
  test/integration/user_commands.cc
Owners: @chapulina

Add scene manager GUI plugin that works with ign-gui's Scene3D
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/gui/gui.config
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/scene_manager/CMakeLists.txt
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/gui/plugins/scene_manager/GzSceneManager.hh
  src/gui/plugins/scene_manager/GzSceneManager.qml
  src/gui/plugins/scene_manager/GzSceneManager.qrc
  src/rendering/RenderUtil.cc
Owners: @chapulina, @iche033

cleanup
  src/gui/plugins/scene_manager/GzSceneManager.cc
Owners: @chapulina

Port codecov to new configuration (#809)
  .github/workflows/ci.yml
Owners: @chapulina

Remove tools/code_check and update codecov
  .github/workflows/ci.yml
  CMakeLists.txt
  tools/check_test_ran.py
  tools/code_check.sh
  tools/cppcheck_rules/header_guard.rule
  tools/cppcheck_rules/namespace_AZ.rule
  tools/cpplint.py
  tools/cpplint_to_cppcheckxml.py
Owners: @chapulina

add view control gui plugin
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/gui/plugins/view_control/CMakeLists.txt
  src/gui/plugins/view_control/ViewControl.cc
  src/gui/plugins/view_control/ViewControl.hh
  src/gui/plugins/view_control/ViewControl.qml
  src/gui/plugins/view_control/ViewControl.qrc
Owners: @chapulina

Fix nested models
  src/rendering/RenderUtil.cc
Owners: @iche033

Updated tests
  examples/worlds/triggered_publisher.sdf
  src/systems/triggered_publisher/TriggeredPublisher.cc
  src/systems/triggered_publisher/TriggeredPublisher.hh
  test/integration/triggered_publisher.cc
  test/worlds/triggered_publisher.sdf
Owners: @chapulina

Update documentation
  examples/worlds/triggered_publisher.sdf
  src/systems/triggered_publisher/TriggeredPublisher.hh
Owners: @chapulina

Fix spelling
  src/systems/triggered_publisher/TriggeredPublisher.cc
Owners: @chapulina

Attempting a unified solution
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
Owners: @chapulina

Reorder menu items
  src/gui/plugins/modules/EntityContextMenu.qml
Owners: @chapulina

skeletal cylinder stuff
  src/systems/buoyancy/Buoyancy.cc
Owners: @chapulina

style fix
  src/systems/hydrodynamics/Hydrodynamics.cc
Owners: @chapulina

Add simple case
  src/systems/buoyancy/Buoyancy.cc
Owners: @chapulina
