Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

Fix codecheck
  src/rendering/RenderUtil.cc
  src/systems/diff_drive/DiffDrive.cc
  test/integration/diff_drive_system.cc
  test/integration/odometry_publisher.cc
  test/integration/optical_tactile_plugin.cc
Owners: @iche033, @chapulina

Fix codecheck (#887)
  src/rendering/RenderUtil.cc
  src/systems/diff_drive/DiffDrive.cc
  test/integration/diff_drive_system.cc
  test/integration/odometry_publisher.cc
  test/integration/optical_tactile_plugin.cc
Owners: @iche033, @chapulina

Use UINT64_MAX for kComponentTpyeIDInvalid instead of relying on underflow
  include/ignition/gazebo/Types.hh
Owners: @chapulina

Use UINT64_MAX for kComponentTpyeIDInvalid instead of relying on underflow (#889)
  include/ignition/gazebo/Types.hh
Owners: @chapulina

🎈 5.1.0
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

pre
  CMakeLists.txt
Owners: @chapulina

use a removed flag on components instead of a ignore flag
  include/ignition/gazebo/components/Component.hh
  include/ignition/gazebo/detail/ComponentStorage.hh
  include/ignition/gazebo/detail/EntityComponentManager.hh
  src/ComponentStorage.cc
Owners: @chapulina

add nullptr checks for CreateComponent and RemoveComponent in ECM unit test
  src/EntityComponentManager_TEST.cc
Owners: @chapulina

add blender tutorial
  examples/scripts/blender/sdf_exporter.py
  tutorials/blender_sdf_exporter.md
Owners: @chapulina

add link to tutorial in main page
  tutorials.md.in
Owners: @chapulina

add blender version comment
  examples/scripts/blender/sdf_exporter.py
Owners: @chapulina

Use std::move
  src/rendering/RenderUtil.cc
Owners: @iche033

Wrap blocks with curly braces
  src/rendering/RenderUtil.cc
Owners: @iche033

Avoid extra lookup
  src/rendering/SceneManager.cc
Owners: @iche033

updated documentation and other review nits
  include/ignition/gazebo/detail/BaseView.hh
  include/ignition/gazebo/detail/ComponentStorage.hh
  src/BaseView.cc
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
Owners: @chapulina

Using a worker pool to update plugins
  src/SimulationRunner.cc
  src/gui/GuiRunner.cc
Owners: @chapulina

Require SDF 11.2.1
  CMakeLists.txt
Owners: @chapulina

make linters happy
  src/gui/GuiRunner.cc
  src/gui/gui.config
Owners: @chapulina

🎈 5.1.0~pre1 (#892)
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

🎈 5.1.0
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

Make depth camera test more robust
  test/integration/depth_camera.cc
Owners: @chapulina

Also RGBD camera
  test/integration/rgbd_camera.cc
Owners: @chapulina

update canonical link poses first
  include/ignition/gazebo/Util.hh
  src/Util.cc
  src/Util_TEST.cc
  src/systems/physics/Physics.cc
Owners: @chapulina, @azeey

🎈 5.1.0 (#896)
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

Update more tests
  test/integration/pose_publisher_system.cc
  test/integration/scene_broadcaster_system.cc
  test/integration/thermal_sensor_system.cc
Owners: @chapulina

👩‍🌾 Make depth camera tests more robust (#897)
  test/integration/depth_camera.cc
  test/integration/pose_publisher_system.cc
  test/integration/rgbd_camera.cc
  test/integration/scene_broadcaster_system.cc
  test/integration/thermal_sensor_system.cc
Owners: @chapulina

added ComponentStorage tests
  include/ignition/gazebo/detail/ComponentStorage.hh
  src/CMakeLists.txt
  src/ComponentStorage_TEST.cc
Owners: @chapulina

Added feedback
  include/ignition/gazebo/gui/GuiEvents.hh
  src/gui/plugins/select_entities/SelectEntities.cc
  src/gui/plugins/select_entities/SelectEntities.hh
  src/gui/plugins/transform_control_logic/TransformControlLogic.cc
  src/gui/plugins/transform_control_logic/TransformControlLogic.hh
Owners: @chapulina

make linters happy
  src/gui/plugins/select_entities/SelectEntities.cc
Owners: @chapulina

Style, comments and instructions
  examples/plugin/Hello_world/HelloWorld.cc
  examples/plugin/hello_world/CMakeLists.txt
  examples/plugin/hello_world/HelloWorld.cc
  examples/plugin/hello_world/HelloWorld.hh
  examples/plugin/hello_world/README.md
  examples/plugin/hello_world/hello_world_plugin.sdf
Owners: @chapulina

Fix documentation for Sensor component
  include/ignition/gazebo/components/Sensor.hh
Owners: @chapulina

Fix documentation for the Sensor component (#898)
  include/ignition/gazebo/components/Sensor.hh
Owners: @chapulina

parse imu orientation param
  src/systems/imu/Imu.cc
  src/systems/imu/Imu.hh
  test/integration/imu_system.cc
Owners: @chapulina

Hello world plugin added (#699)
  examples/plugin/hello_world/CMakeLists.txt
  examples/plugin/hello_world/HelloWorld.cc
  examples/plugin/hello_world/HelloWorld.hh
  examples/plugin/hello_world/README.md
  examples/plugin/hello_world/hello_world_plugin.sdf
Owners: @chapulina

Fix textures not exporting after loading a world that uses obj models (#874)
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
  test/integration/collada_world_exporter.cc
  test/worlds/models/building_L1/meshes/blue_linoleum.png
  test/worlds/models/building_L1/meshes/default.png
  test/worlds/models/building_L1/meshes/floor_1.mtl
  test/worlds/models/building_L1/meshes/floor_1.obj
  test/worlds/models/building_L1/meshes/model.material
  test/worlds/models/building_L1/meshes/wall_1.mtl
  test/worlds/models/building_L1/meshes/wall_1.obj
  test/worlds/models/building_L1/model.config
  test/worlds/models/building_L1/model.sdf
  test/worlds/office.sdf
Owners: @chapulina

Added Video recorder plugin
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/video_recorder_logic/CMakeLists.txt
  src/gui/plugins/video_recorder_logic/VideoRecorderLogic.cc
  src/gui/plugins/video_recorder_logic/VideoRecorderLogic.hh
  src/gui/plugins/video_recorder_logic/VideoRecorderLogic.qml
  src/gui/plugins/video_recorder_logic/VideoRecorderLogic.qrc
Owners: @chapulina

Move RenderUtilPrivate::LowlightNode back to pre-merge location
  src/rendering/RenderUtil.cc
Owners: @iche033

Select the user camera with UserData method
  src/gui/gui.config
  src/gui/plugins/video_recorder_logic/VideoRecorderLogic.cc
Owners: @chapulina

make linters happy
  src/gui/plugins/video_recorder_logic/VideoRecorderLogic.cc
Owners: @chapulina

Restored CreateRenderingEntities in RenderUtils.cc
  src/rendering/RenderUtil.cc
Owners: @iche033
