Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

Spelling
  src/systems/camera_video_recorder/CameraVideoRecorder.hh
Owners: @chapulina

Add Particle Emitter tutorial (#860)
  tutorials.md.in
  tutorials/files/particle_emitter/fog_generator.png
  tutorials/files/particle_emitter/particle_scatter_ratio.png
  tutorials/files/particle_emitter/sensor_scatter_tutorial.gif
  tutorials/particle_tutorial.md
Owners: @chapulina

Set collision detector and solver from SDF (#684)
  examples/worlds/physics_options.sdf
  include/ignition/gazebo/components/Physics.hh
  src/LevelManager.cc
  src/SdfEntityCreator.cc
  src/gui/plugins/component_inspector/ComponentInspector.cc
  src/systems/physics/Physics.cc
  src/systems/physics/Physics.hh
  test/integration/physics_system.cc
  test/worlds/physics_options.sdf
  tutorials/physics.md
Owners: @chapulina, @azeey

Prevent crash when selecting heightmap
  src/rendering/RenderUtil.cc
Owners: @iche033

set gui camera pose
  src/gui/plugins/view_angle/ViewAngle.cc
  src/gui/plugins/view_angle/ViewAngle.hh
  src/gui/plugins/view_angle/ViewAngle.qml
Owners: @chapulina

Label all visuals childeren + style + RenderUtil entity labels
  include/ignition/gazebo/components/BoundingBoxCamera.hh
  include/ignition/gazebo/components/SegmentationCamera.hh
  include/ignition/gazebo/components/SemanticLabel.hh
  src/rendering/RenderUtil.cc
  src/systems/label/Label.cc
  src/systems/label/Label.hh
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

Fix WindEffects Plugin bug, not configuring new links (#844)
  src/systems/wind_effects/WindEffects.cc
  test/integration/wind_effects.cc
  test/worlds/wind_effects.sdf
Owners: @chapulina

removed circular dependency
  src/gui/plugins/view_angle/ViewAngle.cc
  src/gui/plugins/view_angle/ViewAngle.hh
Owners: @chapulina

Lint pass #1
  src/network/NetworkManagerPrimary.cc
  src/network/NetworkManagerPrimary.hh
  src/network/NetworkManagerSecondary.cc
  src/network/NetworkManagerSecondary.hh
Owners: @chapulina

Linter pass#2
  src/network/NetworkManagerPrimary.cc
  src/network/NetworkManagerPrimary.hh
  src/network/NetworkManagerSecondary.cc
Owners: @chapulina

Move kSecondaryIterations constant to class header
  src/network/NetworkManagerPrimary.cc
  src/network/NetworkManagerPrimary.hh
Owners: @chapulina

Restore comment
  src/network/NetworkManagerPrimary.cc
Owners: @chapulina

changes baed on suggestions
  src/systems/joint_controller/JointController.cc
  src/systems/joint_controller/JointController.hh
Owners: @chapulina

expand spinbox
  src/gui/plugins/view_angle/ViewAngle.cc
  src/gui/plugins/view_angle/ViewAngle.hh
  src/gui/plugins/view_angle/ViewAngle.qml
Owners: @chapulina

New example: get an ECM snapshot from an external program (#859)
  examples/standalone/external_ecm/CMakeLists.txt
  examples/standalone/external_ecm/README.md
  examples/standalone/external_ecm/external_ecm.cc
Owners: @chapulina

Add bitrate
  src/systems/camera_video_recorder/CameraVideoRecorder.cc
Owners: @chapulina

Depend on ign-rendering 3.5
  CMakeLists.txt
Owners: @chapulina

Using math::SpeedLimiter on the diff_drive controller. (#833)
  src/systems/diff_drive/CMakeLists.txt
  src/systems/diff_drive/DiffDrive.cc
  src/systems/diff_drive/SpeedLimiter.cc
  src/systems/diff_drive/SpeedLimiter.hh
  test/integration/diff_drive_system.cc
  test/worlds/diff_drive.sdf
  test/worlds/diff_drive_custom_topics.sdf
Owners: @chapulina

rename helper method to UpdateAnimation
  src/rendering/RenderUtil.cc
Owners: @iche033

Used new plugin
  src/gui/gui.config
Owners: @chapulina

Fix Key event class name
  src/gui/plugins/transform_control_logic/TransformControlLogic.cc
Owners: @chapulina

Updates ign-gui version.
  CMakeLists.txt
Owners: @chapulina

Add bitrate (#864)
  src/systems/camera_video_recorder/CameraVideoRecorder.cc
Owners: @chapulina

Changing Locked name and adding fps
  include/ignition/gazebo/EntityComponentManager.hh
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
  src/systems/camera_video_recorder/CameraVideoRecorder.cc
Owners: @chapulina

Added a header
  src/gui/plugins/view_angle/ViewAngle.qml
Owners: @chapulina

Remove extra check
  src/network/NetworkManagerSecondary.cc
Owners: @chapulina

Lint, remove tab
  src/network/NetworkManagerPrimary.cc
Owners: @chapulina

Depend on ign-rendering 3.5 (#867)
  CMakeLists.txt
Owners: @chapulina

Enables confirmation dialog when closing Gazebo. (#850)
  CMakeLists.txt
  src/gui/gui.config
Owners: @chapulina

clearer deprecation messages
  include/ignition/gazebo/detail/EntityComponentManager.hh
  src/EntityComponentManager.cc
Owners: @chapulina

Refactor RenderUtil::Update with helper functions (#858)
  src/rendering/RenderUtil.cc
Owners: @iche033

review feedback
  include/ignition/gazebo/detail/BaseView.hh
  include/ignition/gazebo/detail/View.hh
  src/BaseView.cc
  src/ComponentStorage.cc
  src/EntityComponentManager.cc
Owners: @chapulina

Set gui camera pose (#863)
  src/gui/plugins/view_angle/ViewAngle.cc
  src/gui/plugins/view_angle/ViewAngle.hh
  src/gui/plugins/view_angle/ViewAngle.qml
Owners: @chapulina

fixed variable
  src/gui/plugins/align_tool/AlignTool.cc
Owners: @chapulina

Added feedback
  include/ignition/gazebo/Events.hh
  include/ignition/gazebo/gui/Gui.hh
  include/ignition/gazebo/gui/GuiRunner.hh
  include/ignition/gazebo/gui/GuiSystem.hh
  src/Server.cc
  src/SimulationRunner.cc
  src/gui/Gui.cc
  src/gui/GuiRunner.cc
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/entity_tree/EntityTree.cc
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/ign.cc
  src/ign.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

Removed and moved tape measure and grid config to ign-gui
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/grid_config/CMakeLists.txt
  src/gui/plugins/grid_config/GridConfig.cc
  src/gui/plugins/grid_config/GridConfig.hh
  src/gui/plugins/grid_config/GridConfig.qml
  src/gui/plugins/grid_config/GridConfig.qrc
  src/gui/plugins/tape_measure/CMakeLists.txt
  src/gui/plugins/tape_measure/TapeMeasure.cc
  src/gui/plugins/tape_measure/TapeMeasure.hh
  src/gui/plugins/tape_measure/TapeMeasure.qml
  src/gui/plugins/tape_measure/TapeMeasure.qrc
  src/gui/plugins/tape_measure/tape_measure.png
  src/gui/plugins/tape_measure/trashcan.png
Owners: @chapulina

Tweak ContainsSimpleShape() signature.
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Tweak
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Update to latest
  src/gui/gui.config
  src/gui/plugins/scene_manager/GzSceneManager.cc
Owners: @chapulina

fix conditional, extract common code
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
Owners: @chapulina
