Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

Add 25percent darker view angle icons (#426)
  src/gui/plugins/view_angle/view_angle_back.png
  src/gui/plugins/view_angle/view_angle_bottom.png
  src/gui/plugins/view_angle/view_angle_front.png
  src/gui/plugins/view_angle/view_angle_home.png
  src/gui/plugins/view_angle/view_angle_left.png
  src/gui/plugins/view_angle/view_angle_right.png
  src/gui/plugins/view_angle/view_angle_top.png
Owners: @chapulina

[DiffDrive] add enable/disable (#772)
  src/systems/diff_drive/DiffDrive.cc
  test/integration/diff_drive_system.cc
Owners: @chapulina

No install apt recommends and clear cache (#423)
  docker/scripts/install_common_deps.sh
  docker/scripts/install_ign_deps.sh
Owners: @chapulina

Add missing IGNITION_GAZEBO_VISIBLE macros (#563)
  include/ignition/gazebo/Conversions.hh
  include/ignition/gazebo/ServerConfig.hh
  src/Conversions.cc
  src/LevelManager.hh
  src/SdfGenerator.hh
Owners: @chapulina

Setting the intiial velocity for a model or joint (#693)
  examples/worlds/joint_controller.sdf
  examples/worlds/velocity_control.sdf
  src/systems/joint_controller/JointController.cc
  src/systems/joint_controller/JointController.hh
  src/systems/velocity_control/VelocityControl.cc
  src/systems/velocity_control/VelocityControl.hh
  test/integration/joint_controller_system.cc
  test/worlds/joint_controller.sdf
  test/worlds/velocity_control.sdf
Owners: @chapulina

Add UserCommands Plugin. (#719)
  examples/worlds/fuel.sdf
Owners: @chapulina

Fix visibility macro names when used by a different component (Windows) (#564)
  include/ignition/gazebo/gui/Gui.hh
  include/ignition/gazebo/gui/GuiRunner.hh
  include/ignition/gazebo/rendering/MarkerManager.hh
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/systems/air_pressure/AirPressure.hh
  src/systems/altimeter/Altimeter.hh
  src/systems/breadcrumbs/Breadcrumbs.hh
  src/systems/camera_video_recorder/CameraVideoRecorder.hh
  src/systems/contact/Contact.hh
  src/systems/imu/Imu.hh
  src/systems/log/LogPlayback.hh
  src/systems/log/LogRecord.hh
  src/systems/log_video_recorder/LogVideoRecorder.hh
  src/systems/logical_camera/LogicalCamera.hh
  src/systems/magnetometer/Magnetometer.hh
  src/systems/multicopter_control/Common.hh
  src/systems/physics/Physics.hh
  src/systems/pose_publisher/PosePublisher.hh
  src/systems/scene_broadcaster/SceneBroadcaster.hh
  src/systems/sensors/Sensors.hh
  src/systems/thermal/Thermal.hh
  src/systems/triggered_publisher/TriggeredPublisher.cc
  src/systems/triggered_publisher/TriggeredPublisher.hh
  src/systems/user_commands/UserCommands.hh
  src/systems/velocity_control/VelocityControl.hh
  src/systems/wind_effects/WindEffects.hh
Owners: @chapulina, @azeey, @iche033

Examples and tutorial on using rendering API from plugins (#596)
  examples/plugin/custom_component/README.md
  examples/plugin/gui_system_plugin/README.md
  examples/plugin/rendering_plugins/CMakeLists.txt
  examples/plugin/rendering_plugins/README.md
  examples/plugin/rendering_plugins/RenderingGuiPlugin.cc
  examples/plugin/rendering_plugins/RenderingGuiPlugin.hh
  examples/plugin/rendering_plugins/RenderingGuiPlugin.qml
  examples/plugin/rendering_plugins/RenderingGuiPlugin.qrc
  examples/plugin/rendering_plugins/RenderingServerPlugin.cc
  examples/plugin/rendering_plugins/RenderingServerPlugin.hh
  examples/plugin/rendering_plugins/rendering_plugins.sdf
  examples/standalone/joy_to_twist/README.md
  examples/standalone/joystick/README.md
  examples/standalone/keyboard/README.md
  tutorials.md.in
  tutorials/files/rendering_plugins.gif
  tutorials/rendering_plugins.md
Owners: @chapulina

qml fix for bionic
  src/gui/plugins/scene3d/GzScene3D.qml
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Add 25percent darker view angle icons (#426)
  src/gui/plugins/view_angle/view_angle_back.png
  src/gui/plugins/view_angle/view_angle_bottom.png
  src/gui/plugins/view_angle/view_angle_front.png
  src/gui/plugins/view_angle/view_angle_home.png
  src/gui/plugins/view_angle/view_angle_left.png
  src/gui/plugins/view_angle/view_angle_right.png
  src/gui/plugins/view_angle/view_angle_top.png
Owners: @chapulina

Fix component inspector shutdown crash (#724)
  src/gui/plugins/component_inspector/ComponentInspector.cc
Owners: @chapulina

Add UserCommands Plugin. (#719)
  examples/worlds/fuel.sdf
Owners: @chapulina

Examples and tutorial on using rendering API from plugins (#596)
  examples/plugin/custom_component/README.md
  examples/plugin/gui_system_plugin/README.md
  examples/plugin/rendering_plugins/CMakeLists.txt
  examples/plugin/rendering_plugins/README.md
  examples/plugin/rendering_plugins/RenderingGuiPlugin.cc
  examples/plugin/rendering_plugins/RenderingGuiPlugin.hh
  examples/plugin/rendering_plugins/RenderingGuiPlugin.qml
  examples/plugin/rendering_plugins/RenderingGuiPlugin.qrc
  examples/plugin/rendering_plugins/RenderingServerPlugin.cc
  examples/plugin/rendering_plugins/RenderingServerPlugin.hh
  examples/plugin/rendering_plugins/rendering_plugins.sdf
  examples/standalone/joy_to_twist/README.md
  examples/standalone/joystick/README.md
  examples/standalone/keyboard/README.md
  tutorials.md.in
  tutorials/files/rendering_plugins.gif
  tutorials/rendering_plugins.md
Owners: @chapulina

No install apt recommends and clear cache (#423)
  docker/scripts/install_common_deps.sh
  docker/scripts/install_ign_deps.sh
Owners: @chapulina

[DiffDrive] add enable/disable (#772)
  src/systems/diff_drive/DiffDrive.cc
  test/integration/diff_drive_system.cc
Owners: @chapulina

Fix visibility macro names when used by a different component (Windows) (#564)
  include/ignition/gazebo/gui/Gui.hh
  include/ignition/gazebo/gui/GuiRunner.hh
  include/ignition/gazebo/rendering/MarkerManager.hh
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/systems/air_pressure/AirPressure.hh
  src/systems/altimeter/Altimeter.hh
  src/systems/breadcrumbs/Breadcrumbs.hh
  src/systems/camera_video_recorder/CameraVideoRecorder.hh
  src/systems/contact/Contact.hh
  src/systems/imu/Imu.hh
  src/systems/log/LogPlayback.hh
  src/systems/log/LogRecord.hh
  src/systems/log_video_recorder/LogVideoRecorder.hh
  src/systems/logical_camera/LogicalCamera.hh
  src/systems/magnetometer/Magnetometer.hh
  src/systems/multicopter_control/Common.hh
  src/systems/physics/Physics.hh
  src/systems/pose_publisher/PosePublisher.hh
  src/systems/scene_broadcaster/SceneBroadcaster.hh
  src/systems/sensors/Sensors.hh
  src/systems/thermal/Thermal.hh
  src/systems/triggered_publisher/TriggeredPublisher.cc
  src/systems/triggered_publisher/TriggeredPublisher.hh
  src/systems/user_commands/UserCommands.hh
  src/systems/velocity_control/VelocityControl.hh
  src/systems/wind_effects/WindEffects.hh
Owners: @chapulina, @azeey, @iche033

Setting the intiial velocity for a model or joint (#693)
  examples/worlds/joint_controller.sdf
  examples/worlds/velocity_control.sdf
  src/systems/joint_controller/JointController.cc
  src/systems/joint_controller/JointController.hh
  src/systems/velocity_control/VelocityControl.cc
  src/systems/velocity_control/VelocityControl.hh
  test/integration/joint_controller_system.cc
  test/worlds/joint_controller.sdf
  test/worlds/velocity_control.sdf
Owners: @chapulina

Add missing IGNITION_GAZEBO_VISIBLE macros (#563)
  include/ignition/gazebo/Conversions.hh
  include/ignition/gazebo/ServerConfig.hh
  src/Conversions.cc
  src/LevelManager.hh
  src/SdfGenerator.hh
Owners: @chapulina

Set protobuf_MODULE_COMPATIBLE before any find_package call
  CMakeLists.txt
Owners: @chapulina

Set protobuf_MODULE_COMPATIBLE before any find_package call (#957)
  CMakeLists.txt
Owners: @chapulina

Support headless trajectory generation
  src/rendering/RenderUtil.cc
  src/systems/camera_video_recorder/CMakeLists.txt
  src/systems/camera_video_recorder/CameraVideoRecorder.cc
Owners: @iche033, @chapulina

update to latest API
  src/systems/sensors/Sensors.cc
Owners: @iche033

clone entities seems to work, but cloned entity can't be moved in GUI
  include/ignition/gazebo/EntityComponentManager.hh
  include/ignition/gazebo/components/Component.hh
  src/Component_TEST.cc
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
  src/systems/user_commands/UserCommands.cc
Owners: @chapulina

PR feedback
  src/EntityComponentManager.cc
Owners: @chapulina

Simplifications to storage (#943)
  include/ignition/gazebo/EntityComponentStorage.hh
  include/ignition/gazebo/components/Component.hh
  include/ignition/gazebo/detail/EntityComponentManager.hh
  src/BaseView_TEST.cc
  src/CMakeLists.txt
  src/EntityComponentManager.cc
  src/EntityComponentStorage.cc
  src/EntityComponentStorage_TEST.cc
  test/integration/CMakeLists.txt
  test/integration/view.cc
Owners: @chapulina

update migration guide with deprecations and method/type modifications
  Migration.md
Owners: @chapulina

Fix crash in the follow_actor example
  src/rendering/RenderUtil.cc
Owners: @iche033

Added Segmentation & Bounding box camera sensors SDF examples
  examples/worlds/boundingbox_camera.sdf
  examples/worlds/segmentation_camera.sdf
Owners: @chapulina

fix
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

add test
  test/worlds/follow_actor.sdf
Owners: @chapulina

add test
  test/worlds/follow_actor.sdf
Owners: @chapulina

Change script to delete previous run
  examples/scripts/distributed_levels/primary.sh
Owners: @chapulina

Make thread variable atomic
  src/network/NetworkManagerSecondary.cc
  src/network/NetworkManagerSecondary.hh
Owners: @chapulina

odometer
  examples/plugin/custom_sensor_system/CMakeLists.txt
  examples/plugin/custom_sensor_system/CustomSensorSystem.cc
  examples/plugin/custom_sensor_system/OdometerSystem.cc
  examples/plugin/custom_sensor_system/OdometerSystem.hh
  examples/plugin/custom_sensor_system/README.md
  examples/plugin/custom_sensor_system/odometer.sdf
Owners: @chapulina

revert unneeded changes
  examples/plugin/custom_sensor_system/odometer.sdf
  src/systems/air_pressure/AirPressure.cc
  src/systems/altimeter/Altimeter.cc
  src/systems/imu/Imu.cc
  src/systems/logical_camera/LogicalCamera.cc
  src/systems/magnetometer/Magnetometer.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

remove include
  src/systems/sensors/Sensors.cc
Owners: @iche033

Use HasElement() instead.
  include/ignition/gazebo/components/Model.hh
Owners: @chapulina

Scale mode - Part2 (#881)
  include/ignition/gazebo/components/Model.hh
  test/integration/components.cc
Owners: @chapulina

Complaint if Joint doesn't exists before adding joint controller (#786)
  src/systems/joint_controller/JointController.cc
  test/integration/joint_controller_system.cc
  test/worlds/joint_controller_invalid.sdf
Owners: @chapulina

Address reviewer feedback
  examples/worlds/lift_drag_nested.sdf
  src/systems/lift_drag/LiftDrag.hh
  test/integration/lift_drag_system.cc
Owners: @chapulina

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033
