Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

Fix macOS build: components::Name in benchmark (#784)
  test/benchmark/each.cc
Owners: @chapulina

Clean up a few SWIG-related warnings (#208)
  src/CMakeLists.txt
Owners: @chapulina

add conversion for particle scatter ratio field
  src/Conversions.cc
  src/Conversions_TEST.cc
  src/systems/particle_emitter2/ParticleEmitter2.cc
  test/integration/particle_emitter2.cc
  test/integration/thermal_sensor_system.cc
  test/integration/thermal_system.cc
Owners: @chapulina

update integration test
  test/integration/particle_emitter2.cc
  test/worlds/particle_emitter2.sdf
Owners: @chapulina

updated files added
  examples/plugin/Hello_world/HelloWorld.cc
  examples/plugin/Hello_world/HelloWorld.hh
  examples/plugin/Hello_world/README.md
  examples/plugin/Hello_world/lib/libHelloWorld.so
  examples/plugin/Hello_world/package.xml
Owners: @chapulina

Fix ColladaExporter submesh index bug (#763)
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
  test/integration/collada_world_exporter.cc
  test/worlds/collada_world_exporter_submesh.sdf
  test/worlds/models/mesh_with_submeshes/materials/textures/cordless_drill.png
  test/worlds/models/mesh_with_submeshes/meshes/mesh_with_submeshes.dae
  test/worlds/models/mesh_with_submeshes/model.config
  test/worlds/models/mesh_with_submeshes/model.sdf
Owners: @chapulina

👩‍🌾 Fix Windows build and some warnings (#782)
  src/ComponentFactory_TEST.cc
  src/Component_TEST.cc
  src/Conversions.cc
  src/Conversions_TEST.cc
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
  src/SdfEntityCreator_TEST.cc
  src/SimulationRunner.cc
  src/SimulationRunner_TEST.cc
  src/gui/CMakeLists.txt
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/grid_config/GridConfig.cc
  src/gui/plugins/tape_measure/TapeMeasure.cc
  src/rendering/CMakeLists.txt
  src/rendering/SceneManager.cc
  src/systems/CMakeLists.txt
  src/systems/joint_traj_control/CMakeLists.txt
  src/systems/joint_traj_control/JointTrajectoryController.cc
  src/systems/joint_traj_control/JointTrajectoryController.hh
  src/systems/optical_tactile_plugin/Visualization.cc
  test/integration/CMakeLists.txt
  test/integration/altimeter_system.cc
  test/integration/components.cc
  test/integration/imu_system.cc
  test/integration/log_system.cc
  test/integration/physics_system.cc
  test/integration/user_commands.cc
  test/performance/sdf_runner.cc
  test/plugins/CMakeLists.txt
Owners: @chapulina, @iche033

style
  src/gui/plugins/plotting/Plotting.cc
Owners: @chapulina

Prevent crash on Plotting plugin with mutex (#747)
  src/gui/plugins/plotting/Plotting.cc
Owners: @chapulina

Bump ign-physics version to 3.2 (#792)
  CMakeLists.txt
Owners: @chapulina

Small tweaks
  examples/worlds/optical_tactile_sensor_plugin.sdf
  src/systems/optical_tactile_plugin/OpticalTactilePlugin.cc
  src/systems/optical_tactile_plugin/Visualization.cc
Owners: @chapulina

Explain why detail::View symbols are visible (#788)
  include/ignition/gazebo/detail/View.hh
Owners: @chapulina

Fix documentation for EntityComponentManager::EachNew (#795)
  include/ignition/gazebo/EntityComponentManager.hh
Owners: @chapulina

Visual scaling enabled.
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/gui/plugins/scene3d/Scene3D.cc
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

clear attributes before copying include element
  src/SdfGenerator.cc
Owners: @chapulina

Tweak signature.
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/rendering/RenderUtil.cc
Owners: @chapulina, @iche033

Give messages time to propagate
  test/integration/optical_tactile_plugin.cc
Owners: @chapulina

Visualize wireframes
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/modules/EntityContextMenu.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/rendering/RenderUtil.cc
Owners: @chapulina, @iche033

Adds support for ocean currents
  src/systems/hydrodynamics/Hydrodynamics.cc
Owners: @chapulina

Docs update
  src/systems/hydrodynamics/Hydrodynamics.hh
  tutorials/underwater_vehicles.md
Owners: @chapulina

Code style
  src/systems/hydrodynamics/Hydrodynamics.hh
Owners: @chapulina

fix broken diagram
  tutorials/underwater_vehicles.md
Owners: @chapulina

fix broken image
  tutorials/underwater_vehicles.md
Owners: @chapulina

Begin initial support for buoyancy transitions
  src/systems/buoyancy/Buoyancy.cc
Owners: @chapulina

Port to new codecov configuration (#209)
  .github/workflows/ci.yml
Owners: @chapulina

Disable test on macOS
  test/integration/optical_tactile_plugin.cc
Owners: @chapulina

Add functionalities for optical tactile plugin (#431)
  examples/worlds/optical_tactile_sensor_plugin.sdf
  src/systems/optical_tactile_plugin/OpticalTactilePlugin.cc
  src/systems/optical_tactile_plugin/OpticalTactilePlugin.hh
  src/systems/optical_tactile_plugin/Visualization.cc
  src/systems/optical_tactile_plugin/Visualization.hh
  test/integration/CMakeLists.txt
  test/integration/optical_tactile_plugin.cc
  test/worlds/optical_tactile_plugin.sdf
Owners: @chapulina

Remove forces, use valid topic
  src/gui/plugins/visualize_contacts/VisualizeContacts.cc
  src/gui/plugins/visualize_contacts/VisualizeContacts.hh
  src/gui/plugins/visualize_contacts/VisualizeContacts.qml
  src/systems/physics/Physics.cc
  src/systems/user_commands/UserCommands.cc
Owners: @chapulina, @azeey

Fix tutorial metadata.
  tutorials.md.in
  tutorials/underwater_vehicles.md
Owners: @chapulina

Bump to ign-msgs 7.1 / sdformat 11.1, Windows fixes (#758)
  CMakeLists.txt
  include/ignition/gazebo/Util.hh
  src/rendering/SceneManager.cc
  src/systems/odometry_publisher/OdometryPublisher.cc
  src/systems/odometry_publisher/OdometryPublisher.hh
  src/systems/particle_emitter2/ParticleEmitter2.hh
  test/integration/odometry_publisher.cc
  test/integration/particle_emitter2.cc
Owners: @chapulina, @iche033

Util: Use public API from libsdformat for detecting non-file source
  src/Util.cc
Owners: @chapulina

Contacts visualization (#234)
  examples/worlds/visualize_contacts.sdf
  src/EntityComponentManager.cc
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/visualize_contacts/CMakeLists.txt
  src/gui/plugins/visualize_contacts/VisualizeContacts.cc
  src/gui/plugins/visualize_contacts/VisualizeContacts.hh
  src/gui/plugins/visualize_contacts/VisualizeContacts.qml
  src/gui/plugins/visualize_contacts/VisualizeContacts.qrc
  src/systems/physics/Physics.cc
  src/systems/user_commands/UserCommands.cc
Owners: @chapulina, @azeey

hydra demo plugin added
  examples/plugin/hydrademo/CMakeLists.txt
  examples/plugin/hydrademo/HydraDemo.cc
  examples/plugin/hydrademo/HydraDemo.hh
  examples/plugin/hydrademo/hydra.sdf
Owners: @chapulina

Added some-process flag
  include/ignition/gazebo/Server.hh
  include/ignition/gazebo/ServerConfig.hh
  include/ignition/gazebo/gui/Gui.hh
  include/ignition/gazebo/gui/GuiRunner.hh
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/Server.cc
  src/ServerConfig.cc
  src/SimulationRunner.cc
  src/SimulationRunner.hh
  src/cmd/cmdgazebo.rb.in
  src/gui/Gui.cc
  src/gui/GuiRunner.cc
  src/ign.cc
  src/ign.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

Consolidate scene3D with ign-gui
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d_new/CMakeLists.txt
  src/gui/plugins/scene3d_new/Scene3DNew.cc
  src/gui/plugins/scene3d_new/Scene3DNew.hh
  src/gui/plugins/scene3d_new/Scene3DNew.qml
  src/gui/plugins/scene3d_new/Scene3DNew.qrc
Owners: @chapulina

Fix linter
  test/integration/collada_world_exporter.cc
Owners: @chapulina

Export only submesh if selected
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
Owners: @chapulina

Add test case for the PR
  test/integration/collada_world_exporter.cc
  test/worlds/models/mesh_with_submeshes/model.sdf
Owners: @chapulina

Backport #763
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
  test/integration/collada_world_exporter.cc
  test/worlds/collada_world_exporter_submesh.sdf
  test/worlds/models/mesh_with_submeshes/materials/textures/cordless_drill.png
  test/worlds/models/mesh_with_submeshes/meshes/mesh_with_submeshes.dae
  test/worlds/models/mesh_with_submeshes/model.config
  test/worlds/models/mesh_with_submeshes/model.sdf
Owners: @chapulina

Backport #763 (#804)
  src/systems/collada_world_exporter/ColladaWorldExporter.cc
  test/integration/collada_world_exporter.cc
  test/worlds/collada_world_exporter_submesh.sdf
  test/worlds/models/mesh_with_submeshes/materials/textures/cordless_drill.png
  test/worlds/models/mesh_with_submeshes/meshes/mesh_with_submeshes.dae
  test/worlds/models/mesh_with_submeshes/model.config
  test/worlds/models/mesh_with_submeshes/model.sdf
Owners: @chapulina
