Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

removed unneeded plugin update
  include/ignition/gazebo/gui/GuiRunner.hh
  src/gui/Gui.cc
  src/gui/GuiRunner.cc
  src/gui/plugins/joint_position_controller/JointPositionController_TEST.cc
Owners: @chapulina

Default to true
  include/ignition/gazebo/Link.hh
  include/ignition/gazebo/Util.hh
  src/Util_TEST.cc
  test/integration/link.cc
Owners: @chapulina

removed OnPluginAdded connection
  src/gui/plugins/plot_3d/Plot3D_TEST.cc
Owners: @chapulina

fix TEST_F
  src/Util_TEST.cc
Owners: @chapulina

Functions to enable velocity and acceleration checks on Link (#935)
  include/ignition/gazebo/Link.hh
  include/ignition/gazebo/Util.hh
  src/Link.cc
  src/Util_TEST.cc
  src/systems/kinetic_energy_monitor/KineticEnergyMonitor.cc
  src/systems/lift_drag/LiftDrag.cc
  src/systems/wind_effects/WindEffects.cc
  test/integration/link.cc
Owners: @chapulina

testing ogre init on different thread
  src/gui/GuiRunner.cc
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Restore function for ABI
  include/ignition/gazebo/gui/GuiRunner.hh
  src/gui/GuiRunner.cc
Owners: @chapulina

revert one change
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

wait for update
  src/gui/plugins/joint_position_controller/JointPositionController_TEST.cc
Owners: @chapulina

Fixes to forward-port: version, Windows, deprecations (#940)
  examples/plugin/hello_world/CMakeLists.txt
  src/cmd/ModelCommandAPI.cc
  src/cmd/ModelCommandAPI.hh
  src/gui/plugins/banana_for_scale/BananaForScale.cc
Owners: @chapulina

removed unneeded plugin update (#944)
  include/ignition/gazebo/gui/GuiRunner.hh
  src/gui/Gui.cc
  src/gui/GuiRunner.cc
  src/gui/plugins/joint_position_controller/JointPositionController_TEST.cc
  src/gui/plugins/plot_3d/Plot3D_TEST.cc
Owners: @chapulina

pop error for invalid mesh
  src/gui/plugins/scene3d/GzScene3D.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

send mouse hover event only on spawn preview
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Porting Dome to Edifice: Windows, deprecations (#948)
  include/ignition/gazebo/Util.hh
  src/cmd/ModelCommandAPI.cc
  src/cmd/ModelCommandAPI.hh
  src/gui/plugins/plot_3d/Plot3D_TEST.cc
Owners: @chapulina

modifiable error popup
  src/gui/plugins/scene3d/GzScene3D.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

remove jointName, check validity with jointEntity, add test
  src/systems/joint_controller/JointController.cc
  src/systems/joint_controller/JointController.hh
  test/integration/joint_controller_system.cc
  test/worlds/joint_controller_invalid.sdf
Owners: @chapulina

may not
  src/systems/joint_controller/JointController.cc
Owners: @chapulina

Adding in run to sim time
  src/SimulationRunner.cc
  src/SimulationRunner.hh
Owners: @chapulina

Populate joint forces through physics
  src/systems/physics/Physics.cc
Owners: @azeey

Fix logic to disable server default plugins loading
  src/ServerConfig.cc
Owners: @chapulina

Comments
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Remove TODO.
  src/gui/plugins/transform_control/TransformControl.qml
Owners: @chapulina

Remove TODO.
  src/gui/plugins/transform_control/TransformControl.qml
Owners: @chapulina

Fix incorrect angular mean clearing
  src/systems/odometry_publisher/OdometryPublisher.cc
Owners: @chapulina

Fix logic to disable server default plugins loading (#953)
  src/ServerConfig.cc
Owners: @chapulina

Scale mode - part1 (#799)
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/gui/plugins/transform_control/TransformControl.cc
  src/gui/plugins/transform_control/TransformControl.hh
  src/gui/plugins/transform_control/TransformControl.qml
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

Delete extra whitespace
  src/systems/physics/Physics.cc
Owners: @azeey

added comment
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Allow referencing links in nested models in LiftDrag
  examples/worlds/lift_drag_nested.sdf
  src/systems/lift_drag/LiftDrag.cc
  src/systems/lift_drag/LiftDrag.hh
  test/integration/lift_drag_system.cc
  test/worlds/lift_drag_nested_model.sdf
  test/worlds/models/lift_drag_wing/model.config
  test/worlds/models/lift_drag_wing/model.sdf
Owners: @chapulina

Use AddSensor
  src/systems/air_pressure/AirPressure.cc
  src/systems/altimeter/Altimeter.cc
  src/systems/imu/Imu.cc
  src/systems/logical_camera/LogicalCamera.cc
  src/systems/magnetometer/Magnetometer.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

popup to dialog
  src/gui/plugins/scene3d/GzScene3D.qml
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

use enable_orientation sdf elem
  src/systems/imu/Imu.cc
  src/systems/imu/Imu.hh
Owners: @chapulina

use joinPaths
  test/integration/imu_system.cc
Owners: @chapulina

Add custom sensor system example
  examples/plugin/custom_sensor_system/CMakeLists.txt
  examples/plugin/custom_sensor_system/CustomSensorSystem.cc
  examples/plugin/custom_sensor_system/CustomSensorSystem.hh
  examples/plugin/custom_sensor_system/README.md
  examples/plugin/custom_sensor_system/custom_sensor.sdf
  include/ignition/gazebo/components/CustomSensor.hh
  src/SdfEntityCreator.cc
Owners: @chapulina

fix build error
  src/EntityComponentManager_TEST.cc
Owners: @chapulina

Fix crash on GUI entity removal with levels (#913)
  include/ignition/gazebo/EntityComponentManager.hh
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
Owners: @chapulina

Backport TestFixture to ign-gazebo3 (from 99634855ec9eb33c3259d0cba63365b1bcb1830f)
  examples/standalone/custom_server/CMakeLists.txt
  examples/standalone/gtest_setup/CMakeLists.txt
  examples/standalone/gtest_setup/README.md
  examples/standalone/gtest_setup/command.sdf
  examples/standalone/gtest_setup/command_TEST.cc
  examples/standalone/gtest_setup/gravity.sdf
  examples/standalone/gtest_setup/gravity_TEST.cc
  include/ignition/gazebo/TestFixture.hh
  include/ignition/gazebo/Util.hh
  src/CMakeLists.txt
  src/TestFixture.cc
  src/TestFixture_TEST.cc
  test/helpers/Relay.hh
  test/integration/examples_build.cc
  test/test_config.hh.in
  tutorials.md.in
  tutorials/test_fixture.md
Owners: @chapulina

Fixes for ign-gazebo3 (don't use ign-utils)
  examples/standalone/custom_server/CMakeLists.txt
  examples/standalone/gtest_setup/CMakeLists.txt
  include/ignition/gazebo/TestFixture.hh
  include/ignition/gazebo/Util.hh
  src/CMakeLists.txt
  src/TestFixture.cc
  test/integration/examples_build.cc
  tutorials.md.in
  tutorials/test_fixture.md
Owners: @chapulina

Expose a test fixture helper class (#926)
  examples/standalone/custom_server/CMakeLists.txt
  examples/standalone/gtest_setup/CMakeLists.txt
  examples/standalone/gtest_setup/README.md
  examples/standalone/gtest_setup/command.sdf
  examples/standalone/gtest_setup/command_TEST.cc
  examples/standalone/gtest_setup/gravity.sdf
  examples/standalone/gtest_setup/gravity_TEST.cc
  include/ignition/gazebo/TestFixture.hh
  include/ignition/gazebo/Util.hh
  src/CMakeLists.txt
  src/TestFixture.cc
  src/TestFixture_TEST.cc
  test/helpers/Relay.hh
  test/integration/examples_build.cc
  test/test_config.hh.in
  tutorials.md.in
  tutorials/test_fixture.md
Owners: @chapulina

Fix component inspector shutdown crash (#724)
  src/gui/plugins/component_inspector/ComponentInspector.cc
Owners: @chapulina
