Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

add test for worlds that import obj models, checks for textures
  test/integration/collada_world_exporter.cc
  test/worlds/models/building_L1/meshes/blue_linoleum.png
  test/worlds/models/building_L1/meshes/default.png
  test/worlds/models/building_L1/meshes/floor_1.mtl
  test/worlds/models/building_L1/meshes/floor_1.obj
  test/worlds/models/building_L1/meshes/model.material
  test/worlds/models/building_L1/meshes/wall_1.mtl
  test/worlds/models/building_L1/meshes/wall_1.obj
  test/worlds/models/building_L1/model.config
  test/worlds/models/building_L1/model.sdf
  test/worlds/office.sdf
Owners: @chapulina

cpplint
  test/integration/collada_world_exporter.cc
Owners: @chapulina

Some fixes to select entities plugin
  src/gui/plugins/select_entities/SelectEntities.cc
  src/gui/plugins/select_entities/SelectEntities.hh
Owners: @chapulina

Fixed transform control and linters
  src/gui/plugins/select_entities/SelectEntities.cc
  src/gui/plugins/transform_control_logic/TransformControlLogic.cc
Owners: @chapulina

Update bazel gazebo5
  BUILD.bazel
  examples/worlds/contact_sensor.sdf
  include/ignition/gazebo/gui/GuiSystem.hh
  src/SystemLoader.cc
  src/gui/Gui.cc
  src/gui/GuiSystem.cc
  src/gui/plugins/BUILD.bazel
  src/gui/plugins/gui_plugin.bzl
  src/gui/plugins/ign_gazebo_gui_plugin.bzl
  src/ign-gazebo-gui.cc
  src/ign-gazebo-server.cc
  src/systems/BUILD.bazel
  src/systems/ign_gazebo_system_plugin.bzl
  src/systems/physics/Physics.cc
  test/BUILD.bazel
  test/integration/ackermann_steering_system.cc
  test/test_config.hh.in
Owners: @chapulina, @azeey

Same process bool as a component and minor fixes
  include/ignition/gazebo/ServerConfig.hh
  include/ignition/gazebo/System.hh
  include/ignition/gazebo/components/SameProcess.hh
  src/LevelManager.cc
  src/ServerConfig.cc
  src/SimulationRunner.cc
  src/gui/plugins/entity_tree/EntityTree.cc
  src/systems/sensors/Sensors.cc
  src/systems/sensors/Sensors.hh
Owners: @chapulina, @iche033

Update migration guide
  Migration.md
Owners: @chapulina

Removed and moved tape measure and grid config to ign-gui (#870)
  Migration.md
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/grid_config/CMakeLists.txt
  src/gui/plugins/grid_config/GridConfig.cc
  src/gui/plugins/grid_config/GridConfig.hh
  src/gui/plugins/grid_config/GridConfig.qml
  src/gui/plugins/grid_config/GridConfig.qrc
  src/gui/plugins/tape_measure/CMakeLists.txt
  src/gui/plugins/tape_measure/TapeMeasure.cc
  src/gui/plugins/tape_measure/TapeMeasure.hh
  src/gui/plugins/tape_measure/TapeMeasure.qml
  src/gui/plugins/tape_measure/TapeMeasure.qrc
  src/gui/plugins/tape_measure/tape_measure.png
  src/gui/plugins/tape_measure/trashcan.png
Owners: @chapulina

Remove deprecations: tock
  examples/scripts/distributed/primary.sh
  examples/scripts/distributed/secondary.sh
  examples/scripts/distributed_levels/primary.sh
  examples/scripts/distributed_levels/secondary.sh
  include/ignition/gazebo/ServerConfig.hh
  include/ignition/gazebo/gui/GuiEvents.hh
  include/ignition/gazebo/gui/TmpIface.hh
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/ServerConfig.cc
  src/cmd/cmdgazebo.rb.in
  src/cmd/ign.cc
  src/gui/CMakeLists.txt
  src/gui/Gui.cc
  src/gui/GuiRunner.cc
  src/gui/GuiRunner.hh
  src/gui/TmpIface.cc
  src/gui/plugins/joint_position_controller/JointPositionController_TEST.cc
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/resource_spawner/ResourceSpawner.cc
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/shapes/Shapes.cc
  src/gui/plugins/transform_control/TransformControl.cc
  src/network/NetworkConfig.cc
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

cleanup
  src/gui/Gui.cc
  src/gui/plugins/joint_position_controller/JointPositionController_TEST.cc
  src/gui/plugins/lights/Lights.cc
  src/gui/plugins/playback_scrubber/PlaybackScrubber.cc
  src/gui/plugins/resource_spawner/ResourceSpawner.cc
  src/gui/plugins/shapes/Shapes.cc
  src/network/NetworkConfig.cc
Owners: @chapulina

update all links for a model if the (default) canonical link is updated
  src/systems/physics/Physics.cc
  test/integration/physics_system.cc
  test/worlds/custom_canonical_links.sdf
  test/worlds/static_non_canonical_link.sdf
Owners: @azeey, @chapulina

cpplint #2
  test/integration/collada_world_exporter.cc
Owners: @chapulina

fix path concatencation
  test/integration/collada_world_exporter.cc
Owners: @chapulina

cpplint #3
  test/integration/collada_world_exporter.cc
Owners: @chapulina

feedback
  include/ignition/gazebo/Server.hh
  src/Server.cc
Owners: @chapulina

Add transparent mode
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/modules/EntityContextMenu.qml
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

fix mouse view control race condition
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Remove deprecations: tock 🕑 (#875)
  examples/scripts/distributed/primary.sh
  examples/scripts/distributed/secondary.sh
  examples/scripts/distributed_levels/primary.sh
  examples/scripts/distributed_levels/secondary.sh
  include/ignition/gazebo/ServerConfig.hh
  include/ignition/gazebo/gui/GuiEvents.hh
  include/ignition/gazebo/gui/TmpIface.hh
  include/ignition/gazebo/rendering/RenderUtil.hh
  include/ignition/gazebo/rendering/SceneManager.hh
  src/ServerConfig.cc
  src/cmd/cmdgazebo.rb.in
  src/cmd/ign.cc
  src/gui/CMakeLists.txt
  src/gui/Gui.cc
  src/gui/GuiRunner.cc
  src/gui/GuiRunner.hh
  src/gui/TmpIface.cc
  src/gui/plugins/joint_position_controller/JointPositionController_TEST.cc
  src/gui/plugins/lights/Lights.cc
  src/gui/plugins/modules/EntityContextMenu.cc
  src/gui/plugins/playback_scrubber/PlaybackScrubber.cc
  src/gui/plugins/resource_spawner/ResourceSpawner.cc
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/shapes/Shapes.cc
  src/gui/plugins/transform_control/TransformControl.cc
  src/network/NetworkConfig.cc
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

handle updates for canonical links that aren't the first link in a model
  include/ignition/gazebo/Util.hh
  src/Util.cc
  src/Util_TEST.cc
  src/systems/physics/Physics.cc
  test/integration/physics_system.cc
Owners: @chapulina, @azeey

add dragging
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

clean up tests
  test/integration/physics_system.cc
  test/worlds/only_canonical_link_moves.sdf
  test/worlds/static_non_canonical_link.sdf
Owners: @chapulina

Depend on SDF 11.2, rendering 5.1 and GUI 5.1. Fix Windows. (#877)
  CMakeLists.txt
  src/systems/kinetic_energy_monitor/KineticEnergyMonitor.hh
  src/systems/optical_tactile_plugin/OpticalTactilePlugin.hh
Owners: @chapulina

👩‍🌾 Prevent -0 with out stream operator (#206)
  Changelog.md
  Migration.md
  include/ignition/math/Color.hh
  include/ignition/math/Helpers.hh
  include/ignition/math/Matrix3.hh
  include/ignition/math/Matrix4.hh
  include/ignition/math/Quaternion.hh
  include/ignition/math/Vector2.hh
  include/ignition/math/Vector3.hh
  include/ignition/math/Vector4.hh
  src/Color.cc
  src/Color_TEST.cc
  src/Helpers_TEST.cc
  src/Matrix3_TEST.cc
  src/Matrix4_TEST.cc
  src/Pose_TEST.cc
Owners: @chapulina

Add ModelSDF serializer.
  include/ignition/gazebo/components/Model.hh
  test/integration/components.cc
Owners: @chapulina

Merge all changes.
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

leave note about adding nested model test coverage in Edifice
  test/worlds/only_canonical_link_moves.sdf
Owners: @chapulina

Cleaning
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Use std::optional with SharedEntityComponentManager and SharedEventManager
  include/ignition/gazebo/Server.hh
  src/Server.cc
  src/ign.cc
Owners: @chapulina

tick-tock runGui and createGui
  include/ignition/gazebo/gui/Gui.hh
  src/gui/Gui.cc
Owners: @chapulina

Rename to unpin
  include/ignition/gazebo/EntityComponentManager.hh
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
Owners: @chapulina

make linters happy
  include/ignition/gazebo/Server.hh
  include/ignition/gazebo/gui/Gui.hh
  src/Server.cc
  src/ign.cc
Owners: @chapulina

Update SDF after scaling.
  include/ignition/gazebo/components/Model.hh
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
  test/integration/components.cc
Owners: @chapulina

Add ModelSDF serializer.
  include/ignition/gazebo/components/Model.hh
  test/integration/components.cc
Owners: @chapulina

Use SDF_PROTOCOL_VERSION instead.
  include/ignition/gazebo/components/Model.hh
Owners: @chapulina

Style
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Fix mouse view control target position (#879)
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

Rename to PopulateViewModeVisualLinks
  src/rendering/RenderUtil.cc
Owners: @iche033

Remove visual's original transparency from map
  src/rendering/SceneManager.cc
Owners: @iche033

Add additional material check
  src/rendering/SceneManager.cc
Owners: @iche033

Refactor view functions
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/rendering/RenderUtil.cc
Owners: @chapulina, @iche033
