Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

be more thorough in LogicalMicrophone component checks
  test/integration/components.cc
Owners: @chapulina

Corrections to match code style.
  test/integration/diff_drive_system.cc
Owners: @chapulina

Add ModelSDF serializer.
  include/ignition/gazebo/components/Model.hh
  test/integration/components.cc
Owners: @chapulina

change thruster unit to Newtons
  examples/standalone/multi_lrauv_race/multi_lrauv_race.cc
Owners: @chapulina

Updates
  include/ignition/gazebo/Events.hh
  include/ignition/gazebo/rendering/RenderUtil.hh
  src/SdfEntityCreator.cc
  src/gui/GuiRunner.cc
  src/gui/plugins/entity_tree/EntityTree.cc
  src/gui/plugins/entity_tree/EntityTree.hh
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

Updates
  include/ignition/gazebo/Events.hh
  src/SdfEntityCreator.cc
  src/gui/plugins/entity_tree/EntityTree.cc
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/rendering/RenderUtil.cc
  src/systems/physics/Physics.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033, @azeey

Deleted jerk limits on the diff_drive.sdf file. Added minimun velocity and acceleration limits to the diff_drive_custom_topics.sdf
  test/integration/diff_drive_system.cc
  test/worlds/diff_drive.sdf
  test/worlds/diff_drive_custom_topics.sdf
Owners: @chapulina

updated migration
  Migration.md
Owners: @chapulina

Label Component & System
  include/ignition/gazebo/components/Label.hh
  src/rendering/RenderUtil.cc
  src/systems/CMakeLists.txt
  src/systems/label/CMakeLists.txt
  src/systems/label/Label.cc
  src/systems/label/Label.hh
Owners: @chapulina, @iche033

Added feedback
  include/ignition/gazebo/Events.hh
  src/SimulationRunner.cc
  src/gui/GuiRunner.cc
  src/gui/plugins/entity_tree/EntityTree.cc
  src/gui/plugins/entity_tree/EntityTree.hh
  src/rendering/RenderUtil.cc
  src/systems/physics/Physics.cc
Owners: @chapulina, @iche033, @azeey

Added tranform control and select entities GUI plugins
  include/ignition/gazebo/gui/GuiEvents.hh
  src/gui/gui.config
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/gui/plugins/select_entities/CMakeLists.txt
  src/gui/plugins/select_entities/SelectEntities.cc
  src/gui/plugins/select_entities/SelectEntities.hh
  src/gui/plugins/select_entities/SelectEntities.qml
  src/gui/plugins/select_entities/SelectEntities.qrc
  src/gui/plugins/transform_control_logic/CMakeLists.txt
  src/gui/plugins/transform_control_logic/TransformControlLogic.cc
  src/gui/plugins/transform_control_logic/TransformControlLogic.hh
  src/gui/plugins/transform_control_logic/TransformControlLogic.qml
  src/gui/plugins/transform_control_logic/TransformControlLogic.qrc
Owners: @chapulina

added follow camera offset service
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Use statically-typed views for better performance
  include/ignition/gazebo/EntityComponentManager.hh
  include/ignition/gazebo/Types.hh
  include/ignition/gazebo/components/Component.hh
  include/ignition/gazebo/components/Factory.hh
  include/ignition/gazebo/detail/BaseView.hh
  include/ignition/gazebo/detail/ComponentStorage.hh
  include/ignition/gazebo/detail/ComponentStorageBase.hh
  include/ignition/gazebo/detail/EntityComponentManager.hh
  include/ignition/gazebo/detail/View.hh
  src/BaseView.cc
  src/CMakeLists.txt
  src/ComponentFactory_TEST.cc
  src/ComponentStorage.cc
  src/Component_TEST.cc
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
  src/View.cc
  test/integration/components.cc
Owners: @chapulina

remove unneeded check
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

added more feedback
  include/ignition/gazebo/Events.hh
  include/ignition/gazebo/Server.hh
  include/ignition/gazebo/System.hh
  src/Server.cc
  src/ServerConfig.cc
  src/SimulationRunner.cc
  src/gui/GuiRunner.cc
  src/gui/plugins/scene_manager/GzSceneManager.cc
  src/ign.cc
  src/rendering/RenderUtil.cc
Owners: @chapulina, @iche033

make linters happy
  include/ignition/gazebo/System.hh
  include/ignition/gazebo/gui/GuiSystem.hh
  src/gui/Gui.cc
  src/gui/GuiRunner.cc
  src/ign.cc
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

remove unneeded check (#857)
  src/gui/plugins/scene3d/Scene3D.cc
Owners: @chapulina

added follow camera offset service (#855)
  src/gui/plugins/scene3d/Scene3D.cc
  src/gui/plugins/scene3d/Scene3D.hh
Owners: @chapulina

Fixed tests
  src/gui/Gui_TEST.cc
  src/gui/plugins/joint_position_controller/JointPositionController_TEST.cc
Owners: @chapulina

Update Serialize() function and tests.
  include/ignition/gazebo/components/Model.hh
  test/integration/components.cc
Owners: @chapulina

add README
  examples/standalone/multi_lrauv_race/README.md
Owners: @chapulina

Multi-LRAUV Swimming Race Example (#841)
  examples/standalone/multi_lrauv_race/CMakeLists.txt
  examples/standalone/multi_lrauv_race/README.md
  examples/standalone/multi_lrauv_race/multi_lrauv_race.cc
  examples/worlds/multi_lrauv_race.sdf
Owners: @chapulina

Add Segmentation & BoundingBox Components, Modified the RenderUtil & SdfEntityCreator to recognize the new components
  include/ignition/gazebo/components/BoundingBoxCamera.hh
  include/ignition/gazebo/components/SegmentationCamera.hh
  src/SdfEntityCreator.cc
  src/rendering/RenderUtil.cc
  src/systems/label/Label.hh
  src/systems/sensors/Sensors.cc
Owners: @chapulina, @iche033

Fix potentially flaky integration component test case (#848)
  test/integration/components.cc
Owners: @chapulina

Fix issue not configuring links added after start
  src/systems/wind_effects/WindEffects.cc
Owners: @chapulina

Add a test checking the fix
  test/integration/wind_effects.cc
  test/worlds/wind_effects.sdf
Owners: @chapulina

refactor RenderUtil::Update with helper functions
  src/rendering/RenderUtil.cc
Owners: @iche033

add initial draft
  tutorials.md.in
  tutorials/files/particle_emitter/fog_generator.png
  tutorials/files/particle_emitter/sensor_scatter_ratio.png
  tutorials/files/particle_emitter/sensor_scatter_tutorial.gif
  tutorials/particle_tutorial.md
Owners: @chapulina

New example: get an ECM snapshot from an external program
  examples/standalone/external_ecm/CMakeLists.txt
  examples/standalone/external_ecm/README.md
  examples/standalone/external_ecm/external_ecm.cc
Owners: @chapulina

fix scatter ratio image path, minor tweaks
  tutorials/files/particle_emitter/particle_scatter_ratio.png
  tutorials/particle_tutorial.md
Owners: @chapulina

Added support for nested models
  include/ignition/gazebo/rendering/SceneManager.hh
  src/rendering/RenderUtil.cc
  src/rendering/SceneManager.cc
Owners: @chapulina, @iche033

Rename to inertials
  src/rendering/RenderUtil.cc
Owners: @iche033

Fix documentation
  include/ignition/gazebo/rendering/SceneManager.hh
Owners: @chapulina

Rename to inertia
  src/rendering/RenderUtil.cc
Owners: @iche033

Deleted if/else of the velocity and acceleration limits expectations.
  test/integration/diff_drive_system.cc
Owners: @chapulina

formatting
  tutorials/particle_tutorial.md
Owners: @chapulina

Update wireframe visualization to support nested models (#832)
  src/rendering/RenderUtil.cc
Owners: @iche033

small tweaks
  examples/standalone/external_ecm/external_ecm.cc
Owners: @chapulina

Document physics options.
  tutorials/physics.md
Owners: @chapulina

Support locked entities, and headless video recording using sim time
  include/ignition/gazebo/EntityComponentManager.hh
  src/EntityComponentManager.cc
  src/EntityComponentManager_TEST.cc
  src/gui/plugins/scene3d/Scene3D.cc
  src/systems/camera_video_recorder/CameraVideoRecorder.cc
  src/systems/camera_video_recorder/CameraVideoRecorder.hh
Owners: @chapulina

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033
