Repository gazebosim/gz-sim, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chapulina, @iche033, @azeey

.github/CODEOWNERS:

# More info:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*                     @chapulina
*/rendering/*         @iche033
src/systems/physics/* @azeey
src/systems/sensors/* @iche033

Update benchmark comparison instructions (#766) (#766)
  test/benchmark/README.md
Owners: @chapulina

fixed included nested model expansion
  src/SdfGenerator.cc
  src/SdfGenerator.hh
  test/integration/save_world.cc
  test/worlds/model_nested_include.sdf
Owners: @chapulina

added resource path to test
  test/integration/save_world.cc
Owners: @chapulina

add test, clear vel cmds
  src/systems/physics/Physics.cc
  test/integration/velocity_control_system.cc
  test/worlds/velocity_control.sdf
Owners: @azeey, @chapulina

codecheck
  test/integration/velocity_control_system.cc
Owners: @chapulina

use orig URIs & support multi level nesting
  src/SdfGenerator.cc
  test/integration/save_world.cc
  test/worlds/model_nested_include.sdf
Owners: @chapulina

save fuel version when enabled
  src/SdfGenerator.cc
  src/SdfGenerator.hh
Owners: @chapulina

fuel7 transport11
  README.md
Owners: @chapulina

Bumps in fortress : ign-gazebo6 (#764)
  .github/ci/packages.apt
  CMakeLists.txt
  README.md
  bitbucket-pipelines.yml
  docker/Dockerfile.nightly
  examples/plugin/rendering_plugins/CMakeLists.txt
  examples/standalone/entity_creation/CMakeLists.txt
  examples/standalone/joy_to_twist/CMakeLists.txt
  examples/standalone/joystick/CMakeLists.txt
  examples/standalone/keyboard/CMakeLists.txt
  examples/standalone/light_control/CMakeLists.txt
  examples/standalone/marker/CMakeLists.txt
  examples/standalone/scene_requester/CMakeLists.txt
  tutorials/migrating_ardupilot_plugin.md
Owners: @chapulina

mimic removed
  examples/plugin/mimic_joint/CMakeLists.txt
  examples/plugin/mimic_joint/MimicJoint.cc
  examples/plugin/mimic_joint/MimicJoint.hh
  examples/plugin/mimic_joint/README.md
Owners: @chapulina

add enable/disable diffdrive
  src/systems/diff_drive/DiffDrive.cc
Owners: @chapulina

remove debug
  src/systems/diff_drive/DiffDrive.cc
Owners: @chapulina

do not subscribe to enable if topic is empty
  src/systems/diff_drive/DiffDrive.cc
Owners: @chapulina

add test
  test/integration/diff_drive_system.cc
Owners: @chapulina

mimic removed
  examples/plugin/mimic_joint/CMakeLists.txt
  examples/plugin/mimic_joint/MimicJoint.cc
  examples/plugin/mimic_joint/MimicJoint.hh
  examples/plugin/mimic_joint/README.md
Owners: @chapulina

random velocity plugin added
  examples/plugin/random_vel/CMakeLists.txt
  examples/plugin/random_vel/README.md
  examples/plugin/random_vel/RandomVelocity.cc
  examples/plugin/random_vel/RandomVelocity.hh
  examples/plugin/random_vel/lib/libRandomVelocity.so
  examples/plugin/random_vel/lib/pkgconfig/random_vel.pc
  examples/plugin/random_vel/package.xml
Owners: @chapulina

Disable tests that need slip
  test/integration/diff_drive_system.cc
  test/integration/wheel_slip.cc
Owners: @chapulina

lint and style
  src/systems/diff_drive/DiffDrive.cc
Owners: @chapulina

change enable type to bool and renamed to enabled
  src/systems/diff_drive/DiffDrive.cc
Owners: @chapulina

Patch particle emitter2 service
  src/systems/particle_emitter2/ParticleEmitter2.cc
Owners: @chapulina

Remove condition variable
  src/systems/particle_emitter2/ParticleEmitter2.cc
Owners: @chapulina

[DiffDrive] add enable/disable (#772)
  src/systems/diff_drive/DiffDrive.cc
  test/integration/diff_drive_system.cc
Owners: @chapulina

Add odometry publisher system (#547)
  src/systems/CMakeLists.txt
  src/systems/odometry_publisher/CMakeLists.txt
  src/systems/odometry_publisher/OdometryPublisher.cc
  src/systems/odometry_publisher/OdometryPublisher.hh
  test/integration/CMakeLists.txt
  test/integration/odometry_publisher.cc
  test/worlds/odometry_publisher.sdf
  test/worlds/odometry_publisher_custom.sdf
Owners: @chapulina

Moved logic into gamelogic
  include/ignition/gazebo/components/HaltMotion.hh
  src/systems/kinetic_energy_monitor/KineticEnergyMonitor.cc
  src/systems/kinetic_energy_monitor/KineticEnergyMonitor.hh
Owners: @chapulina

docs
  src/systems/kinetic_energy_monitor/KineticEnergyMonitor.hh
Owners: @chapulina

Set emitter frame and relative pose
  src/systems/particle_emitter2/ParticleEmitter2.cc
Owners: @chapulina

Reduce path name for Windows
  src/systems/joint_traj_control/CMakeLists.txt
  src/systems/joint_traj_control/JointTrajectoryController.cc
  src/systems/joint_traj_control/JointTrajectoryController.hh
Owners: @chapulina

duh, CMake as well
  src/systems/CMakeLists.txt
Owners: @chapulina

Fix warning
  test/integration/wheel_slip.cc
Owners: @chapulina

Patch particle emitter2 service (#777)
  src/systems/particle_emitter2/ParticleEmitter2.cc
Owners: @chapulina

linters
  src/ServerPrivate.cc
  src/SimulationRunner.cc
  test/integration/wheel_slip.cc
Owners: @chapulina

Windows warnings
  src/Conversions_TEST.cc
  src/SdfEntityCreator_TEST.cc
  src/SimulationRunner_TEST.cc
  src/gui/CMakeLists.txt
  src/gui/plugins/CMakeLists.txt
  src/gui/plugins/tape_measure/TapeMeasure.cc
  src/rendering/CMakeLists.txt
  test/integration/components.cc
  test/integration/user_commands.cc
Owners: @chapulina, @iche033

code cleaned
  examples/plugin/Hello_world/CMakeLists.txt
  examples/plugin/Hello_world/HelloWorld.cc
  examples/plugin/Hello_world/HelloWorld.hh
  examples/plugin/Hello_world/README.md
  examples/plugin/Hello_world/include/HelloWorld.hh
  examples/plugin/Hello_world/lib/libHelloWorld.so
  examples/plugin/Hello_world/src/HelloWorld.cc
Owners: @chapulina

cmake file changed
  examples/plugin/Hello_world/CMakeLists.txt
Owners: @chapulina

retrieve uri from map
  src/SdfGenerator.cc
  src/SdfGenerator.hh
  test/integration/save_world.cc
Owners: @chapulina

CMakeLists.txt updates
  examples/plugin/Hello_world/CMakeLists.txt
Owners: @chapulina

Preparing for 4.8.0 release
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

Working on a trigger delay
  src/systems/triggered_publisher/TriggeredPublisher.cc
  src/systems/triggered_publisher/TriggeredPublisher.hh
Owners: @chapulina

Preparing for 4.8.0 release (#780)
  CMakeLists.txt
  Changelog.md
Owners: @chapulina

👩‍🌾 Don't use std::pow with integers in Vectors and handle sqrt (#207)
  include/ignition/math/Vector2.hh
  include/ignition/math/Vector3.hh
  include/ignition/math/Vector4.hh
  src/Vector2_TEST.cc
  src/Vector3_TEST.cc
  src/Vector4_TEST.cc
Owners: @chapulina
